In [1]:
file_name = '../../storage/app/uploads/Piyjq8ZHKtDuHiTaqtGcwTlIezXERT3t5EQIjWml.bin'

In [2]:
import mysql.connector
import os
import pandas as pd


# HOST = 

# Connect to the database
connection = mysql.connector.connect(
    host="db-natuna.ctmogcuxclxn.ap-southeast-1.rds.amazonaws.com",
    user="admin",
    passwd="cujwiq-suqhu2-bycpuB",
    database="web-app-dev"
)

# Create a cursor
cursor = connection.cursor()

# Execute a query
cursor.execute("SELECT * FROM models")

# Fetch the results
results = cursor.fetchall()

# Print the results
for result in results:
    print(result)
    
# Close the connection
connection.close()

def execute_query(query):
    connection = mysql.connector.connect(
        host="db-natuna.ctmogcuxclxn.ap-southeast-1.rds.amazonaws.com",
        user="admin",
        passwd="cujwiq-suqhu2-bycpuB",
        database="web-app-dev"
    )
    cursor = connection.cursor()
    cursor.execute(query)
    results = cursor.fetchall()
    connection.close()
    return results

(1, 'hankam', 'model hankam', '', 0, datetime.datetime(2024, 6, 23, 2, 30, 59), datetime.datetime(2024, 8, 3, 6, 5, 34), None, 0, None)
(2, 'Model', 'k kb', 'uploads/cVAfVdp8aKiEyFMFuedSMGkcWZ6txkspfLt7LnXu.txt', 0, datetime.datetime(2024, 7, 3, 14, 56, 2), datetime.datetime(2024, 8, 3, 5, 49, 4), None, 0, None)
(3, 'Model 2', 'Model 2', 'uploads/bSNnVxitl8HvD3VcAXyR3ek6jfiJveGJgFO4EXoL.txt', 0, datetime.datetime(2024, 7, 3, 15, 12, 41), datetime.datetime(2024, 8, 3, 5, 49, 4), None, 0, None)
(4, 'MODEL', '', None, 0, datetime.datetime(2024, 7, 4, 11, 19, 26), datetime.datetime(2024, 7, 4, 11, 19, 26), None, 0, None)
(5, 'asd', 'asda', 'uploads/nujT70ak7rLU5k8IpwbBBYHh3KNugKMzcLMcim0Z.bin', 0, datetime.datetime(2024, 7, 4, 11, 28, 35), datetime.datetime(2024, 8, 3, 5, 49, 4), None, 0, None)
(6, 'tes 1', 'tes 1tes 1', 'uploads/25oe2FGbrIIIwtelNJicj23q5Ue94ENNzdNkoM6V.txt', 0, datetime.datetime(2024, 8, 3, 1, 55, 58), datetime.datetime(2024, 8, 15, 3, 37, 52), 'imageModels/q8wMrm0gz7Sk9I1am4B5BWBf7zivp5g520uyeJ3m.png', 0, None)
(7, 'MODEL TEST', 'abc', 'uploads/iFq50WI6b5SMc9eNpy4AhAlWSzAwo2OMz5tPUwFu.bin', 0, datetime.datetime(2024, 8, 3, 5, 44, 3), datetime.datetime(2024, 8, 3, 5, 49, 4), None, 0, None)
(8, 'MODEL TEST', 'abc', 'uploads/IVsnzqroGDCNlyvIcWIIRTe2g29nw3qvYAjfaOoj.bin', 0, datetime.datetime(2024, 8, 3, 5, 45, 29), datetime.datetime(2024, 8, 3, 5, 49, 4), None, 0, None)
(9, 'MODEL TEST', 'abc', 'uploads/uGAY4nnaxlVNY467IvfS4GOL1CTfbv13IP4axaT5.bin', 0, datetime.datetime(2024, 8, 3, 5, 49, 3), datetime.datetime(2024, 8, 3, 6, 3, 19), None, 0, None)
(10, 'TESTTT', 'abc', 'uploads/SpTPDgK8gX7oEifstkAj1ekdpiI41Mi930uBbHoO.bin', 0, datetime.datetime(2024, 8, 3, 6, 5, 34), datetime.datetime(2024, 8, 3, 7, 6, 55), None, 0, None)
(11, 'testttt', '1', 'uploads/EWqI7yqbhVYThvkOLrQyqsW7ktCxC5F9ARDG86fl.bin', 0, datetime.datetime(2024, 8, 3, 7, 6, 55), datetime.datetime(2024, 8, 3, 7, 22, 15), None, 0, None)
(12, 'MODEL TEST', 'a', 'uploads/xNMMs0hYAQuRAufksDdedestrxQByMiHuAsTYAMS.bin', 0, datetime.datetime(2024, 8, 3, 7, 22, 15), datetime.datetime(2024, 8, 3, 7, 28, 34), None, 0, None)
(13, 'abc', 'a', 'uploads/urFKpl9jb3ns74h7hV2kqEBbb0GJtcpPYsPB3LoB.bin', 0, datetime.datetime(2024, 8, 3, 7, 28, 34), datetime.datetime(2024, 8, 3, 7, 29, 19), None, 0, None)
(14, 'TESTTT2', 'a', 'uploads/1hLVPgdDHV9tfUKfq2R5HhKX4L2XwnOBP5iQTI9V.bin', 0, datetime.datetime(2024, 8, 3, 7, 29, 19), datetime.datetime(2024, 8, 3, 7, 46, 39), None, 0, None)
(15, 'abc', 'abc', 'uploads/DIZOe1459t8E3OBTpWmbKnH6USxcnv34Kq0CelVS.bin', 0, datetime.datetime(2024, 8, 3, 7, 46, 39), datetime.datetime(2024, 8, 3, 8, 10, 35), None, 0, None)
(16, 'MODEL TESTING 3', 'abc', 'uploads/vM8j6nxyGaZzQG3nhdYKCvtKWbdUV96ude4dBjUg.bin', 0, datetime.datetime(2024, 8, 3, 8, 10, 35), datetime.datetime(2024, 8, 3, 8, 13, 20), None, 0, None)
(17, 'MODEL TESTING 4', 'a', 'uploads/sHSy2obEZEffTi3ks8sNiNoESAbjpyjl6K2S6I8u.bin', 0, datetime.datetime(2024, 8, 3, 8, 13, 20), datetime.datetime(2024, 8, 3, 8, 40, 56), None, 0, None)
(18, 'MODEL TEST', 'aaba', 'uploads/fdJzisXatn2umFbNAquVUWsmL179xVEzB0lMw2Qb.bin', 0, datetime.datetime(2024, 8, 3, 8, 40, 56), datetime.datetime(2024, 8, 3, 8, 50, 12), None, 0, None)
(19, 'MODEL TEST', 'a', 'uploads/CYBrhhXvsEfnlyTe9PqGs1RtEuPqezNxTej3Z6Mf.bin', 0, datetime.datetime(2024, 8, 3, 8, 50, 12), datetime.datetime(2024, 8, 3, 8, 59, 3), None, 0, None)
(20, 'MODEL TEST', 'abc', 'uploads/2c6SEQmFw4CJzAdmmUD30SPeJTOvT2LdcYZkAKBx.bin', 0, datetime.datetime(2024, 8, 3, 8, 59, 3), datetime.datetime(2024, 8, 3, 9, 0, 45), None, 0, None)
(21, 'MODEL TEST', 'ab', 'uploads/xavplt9p0AqpwXerTxoC1UpFQrFpMWIwE9KzOWi4.bin', 0, datetime.datetime(2024, 8, 3, 9, 0, 45), datetime.datetime(2024, 8, 3, 9, 1, 20), None, 0, None)
(22, 'MODEL TEST', 'ab', 'uploads/nLfbswL0jKT8FuiNyHYEZAWgLc6Sj59Jer4HndxA.bin', 0, datetime.datetime(2024, 8, 3, 9, 1, 20), datetime.datetime(2024, 8, 3, 9, 1, 34), None, 0, None)
(23, 'MODEL TEST', 'ab', 'uploads/w6lHGKhjroIDxJJFfCNvuR42iXrFeNRp4xAUEEKL.bin', 0, datetime.datetime(2024, 8, 3, 9, 1, 34), datetime.datetime(2024, 8, 3, 9, 1, 47), None, 0, None)
(24, 'MODEL TEST', 'ab', 'uploads/VDWQBYEP5IiFs1KvSveeaLCnC363xl0PHF2cW5aX.bin', 0, datetime.datetime(2024, 8, 3, 9, 1, 46), datetime.datetime(2024, 8, 3, 9, 2, 12), None, 0, None)
(25, 'MODEL TEST', 'ab', 'uploads/HobFHSB4VU7AfNsfCOwyKTl2IjMDkpxT1ruej3bh.bin', 0, datetime.datetime(2024, 8, 3, 9, 2, 12), datetime.datetime(2024, 8, 8, 9, 9, 42), None, 0, None)
(26, 'MODEL TEST', 'a', 'uploads/ArNYJBYL0Sos6fMKkTvF8H497nExUWlwBR4vPxfs.bin', 0, datetime.datetime(2024, 8, 3, 9, 4, 22), datetime.datetime(2024, 8, 3, 9, 6, 17), None, 0, None)
(27, 'abc', 'abc', 'uploads/KviZ8DGSOpxKowGDNQNgYeE2A5ooIXPPSml0Y36J.bin', 0, datetime.datetime(2024, 8, 3, 9, 6, 17), datetime.datetime(2024, 8, 3, 12, 52, 53), None, 0, None)
(28, 'tes 1', 'tes 1', 'uploads/GVdn0VCfErGDBI26ZPuuhbHeEffMuqSNCcSZhGKZ.bin', 0, datetime.datetime(2024, 8, 3, 12, 52, 53), datetime.datetime(2024, 8, 3, 12, 54, 54), 'uploads/GVdn0VCfErGDBI26ZPuuhbHeEffMuqSNCcSZhGKZ.bin', None, None)
(29, 'coba', 'coba', 'uploads/pd4tgpqNdeOvQ3qHsXW2t6SXaxLTnvgASwxOTecH.bin', 0, datetime.datetime(2024, 8, 3, 12, 54, 54), datetime.datetime(2024, 8, 3, 13, 3, 42), 'imageModels/pd4tgpqNdeOvQ3qHsXW2t6SXaxLTnvgASwxOTecH.bin', None, None)
(30, 'coba 2', 'coba 2', 'uploads/RBleZwigirsPHafBD965QpwC2fcBn2ai16hsEmke.bin', 0, datetime.datetime(2024, 8, 3, 13, 3, 42), datetime.datetime(2024, 8, 3, 13, 6, 34), 'imageModels/RBleZwigirsPHafBD965QpwC2fcBn2ai16hsEmke.bin', None, None)
(31, 'coba 3', 'coba 3', 'uploads/1JRoQayySf02IabVmAb8aFTFQertxijfuyjXabho.bin', 0, datetime.datetime(2024, 8, 3, 13, 6, 34), datetime.datetime(2024, 8, 3, 13, 9, 25), 'imageModels/1JRoQayySf02IabVmAb8aFTFQertxijfuyjXabho.bin', None, None)
(32, 'coba3', 'coba3', 'uploads/jufW6LkqTY0BWI5TVMWDxYVaHfvLrYHMFXjXFCcl.bin', 0, datetime.datetime(2024, 8, 3, 13, 9, 25), datetime.datetime(2024, 8, 3, 16, 41, 6), 'imageModels/MTjWZREM9z9gvh2nyvyI6Namhy63yF02ZYmjRn5W.png', None, None)
(33, 'abc', 'abc', 'uploads/LQE9FM97UWHs6eC9UZzQqXKQgcVwgSBWgN931bRD.jpg', 0, datetime.datetime(2024, 8, 3, 16, 41, 6), datetime.datetime(2024, 8, 3, 16, 46, 42), 'imageModels/bcyHuO2007LScSh5KLwre6EABuCfncasX76scxDJ.bin', None, None)
(34, 'MODEL TEST', 'a', 'uploads/2A1b04lAa7v0CyJwgUmHM9XirDxTo7kGXMkbvBUe.jpg', 0, datetime.datetime(2024, 8, 3, 16, 46, 42), datetime.datetime(2024, 8, 3, 16, 59, 41), 'imageModels/p17MJiX5IU0ngnWlt671C9ng6sT6UKb0ded3Kzxb.bin', None, None)
(35, 'MODEL TEST', 'a', 'uploads/z6FqxRCsMarXvhll6QBWeLfmXjzUph4TKbEjUTgg.jpg', 0, datetime.datetime(2024, 8, 3, 16, 59, 41), datetime.datetime(2024, 8, 3, 17, 14, 1), 'imageModels/SbfHuRGKwAiU5Ojsd48XhgoCHRkbQf63S3VMlJe3.bin', None, None)
(36, 'MODEL TEST', 'a', 'uploads/BBw2Xaq61nx6Clc5jNePRag1lqwuZCzQN06wbHzQ.jpg', 0, datetime.datetime(2024, 8, 3, 17, 14), datetime.datetime(2024, 8, 3, 17, 16, 29), 'imageModels/3lA5PA7zRHVrlvRi899TwMEe75tHacUkKbvsMukp.bin', None, None)
(37, 'MODEL TEST', '1', 'imageModels/NMJyIv8i2Hz2i7qfpQftgZDmK6vGEINprxe7T9Xn.bin', 0, datetime.datetime(2024, 8, 3, 17, 16, 28), datetime.datetime(2024, 8, 3, 17, 22, 55), 'uploads/90f02cfQrOT9HkEwVkJ0hyREFAj9CdzjsfBy36VB.jpg', None, None)
(38, 'MODEL TEST', 'a', 'uploads/Q029J5Z56q6tKbGmsm62wH0RGZCmrOSTlAilcQqx.bin', 0, datetime.datetime(2024, 8, 3, 17, 22, 55), datetime.datetime(2024, 8, 18, 1, 2, 2), 'imageModels/XdlNdW5yzZ6tWfVX9NZVla8okEvKK0xVH8FYBBJK.jpg', None, None)
(39, 'Halo', 'BEST', 'uploads/jSR5xV7rZP5fSbl7FzPPnvjSaU4F0voAAYbsmwVx.bin', 0, datetime.datetime(2024, 8, 8, 9, 9, 42), datetime.datetime(2024, 8, 8, 9, 11, 34), 'imageModels/wEIKVYki9LDhmOBsgey0Rh68pqPFb8fKCF923Fkc.jpg', None, None)
(40, 'Model', 'MODEL', 'uploads/5GNrBqJUHxtiQ8LGFoy56l6CzFY3cHdJdgCudKuT.bin', 0, datetime.datetime(2024, 8, 8, 9, 11, 34), datetime.datetime(2024, 8, 18, 5, 10, 30), 'imageModels/2l5HIxXslJyTPg0Fpijz0vW4wZq9rBEiqjQ3RY4p.jpg', None, None)
(41, 'Model testing', 'Model testing', 'uploads/BBkFxg9t47MOy1luDuJpLPhgaK3NSSHdyoXVOsNn.bin', 0, datetime.datetime(2024, 8, 15, 3, 39, 44), datetime.datetime(2024, 8, 15, 4, 9, 22), 'imageModels/UXuyXkrqESyz8OxMhmUWGDlMvNam5TWH9tUvnonE.png', None, None)
(42, 'MODEL 20240815', 'model terbaru', 'uploads/mWD4SwgkvxHske1QoJesoXOTTIq1RI1oxBZamLxV.bin', 0, datetime.datetime(2024, 8, 15, 4, 9, 22), datetime.datetime(2024, 8, 18, 1, 2, 25), 'imageModels/O15fEFrTo9YbKPlwHP4T7ayjqDOVnqBaHduMtjv3.jpg', None, None)
(43, 'MODEL TEST', 'Model Test', 'uploads/nW3dxLgKqhcwcccwliYXEJyJOrmiKHuddHCfdfkK.bin', 0, datetime.datetime(2024, 8, 18, 1, 2, 24), datetime.datetime(2024, 8, 18, 1, 5, 6), 'imageModels/oHu72S355yJdpjM1XrheerYW9BDBMS2h8s4SSxGz.jpg', None, None)
(44, 'MODEL TEST', 'ABC', 'uploads/dzEMDuPN3w9KAY4UR4PGKW2EPwHTzLEm8BCWavI0.bin', 0, datetime.datetime(2024, 8, 18, 1, 5, 6), datetime.datetime(2024, 8, 18, 1, 15, 25), 'imageModels/zV2YbOjKPTSt4d0xGB0EZXxhrPwk5XreK7A3dJ7a.jpg', None, None)
(45, 'MODEL TEST', 'HALO', 'uploads/hzcMzScLbHkF39JO4WLpLCmsxdkwoIJz6KrkJbu2.bin', 0, datetime.datetime(2024, 8, 18, 5, 10, 29), datetime.datetime(2024, 8, 18, 5, 29, 37), 'imageModels/OWAmPPYWMkyibEKThTE0HempU7BVRW6MvecSW6l1.jpg', None, None)
(46, 'Test', '123', 'uploads/wZg36ZTTvoJeXSQ8Z6A7yzwIO27iD6ffAcZlTgN8.bin', 0, datetime.datetime(2024, 8, 18, 5, 29, 36), datetime.datetime(2024, 8, 18, 15, 43, 21), 'imageModels/IYEGGyZcgrbZKLcFZkwuR3cfpFLkodLL49uiBF2D.jpg', None, None)
(47, 'AHUY', 'ABC', 'uploads/RsnzAtVoKRPguCW1nbEqGzRwxfWQDFiMTWhPAWhi.bin', 0, datetime.datetime(2024, 8, 18, 15, 43, 21), datetime.datetime(2024, 8, 18, 15, 48, 13), 'imageModels/liFeaNawdrgS97xCxCKm1jDNnYxlDTydMEOYTVpy.jpg', None, None)
(48, 'MODEL TEST', 'abc', 'uploads/mZtLLfcJ0UIkAWjeMadR6LDlcd35vEQNy1OVLyYB.bin', 0, datetime.datetime(2024, 8, 18, 15, 48, 13), datetime.datetime(2024, 8, 18, 16, 2, 6), 'imageModels/egf2r9wgJGNV90FVUHOrP4H3FNxQsjOgfAeZVoLC.jpg', None, None)
(49, 'macbook', 'abc', 'uploads/LjUKkUZc0hV8LctrjZqT4T8hBmZNeOvV75CsusWZ.bin', 0, datetime.datetime(2024, 8, 18, 16, 2, 6), datetime.datetime(2024, 8, 18, 16, 3, 55), '/Users/farrelarrizal/Documents/Project/natuna-app/public/assets/imageModels/hdLfHAWoBj3ffX0MTrjI3MxaY4ZCp7PhZo1FUsEi.png', None, None)
(50, 'MODEL TEST', 'abc', 'uploads/34Qt6jEAo66m4770EdDd2aWBRx8CWRDaqUGlTNs3.bin', 0, datetime.datetime(2024, 8, 18, 16, 3, 55), datetime.datetime(2024, 9, 7, 6, 57, 44), 'assets/imageModels/1725678245.jpg', None, 'assets/imageSfd/1725678285.jpg')
(51, 'New Model', 'Ini deskripsi base model', 'uploads/wB8qtesNyEivdaQOjptIYBiTgxznvYdUYNDoznPD.bin', 0, datetime.datetime(2024, 8, 19, 14, 46, 51), datetime.datetime(2024, 8, 19, 14, 48, 22), 'assets/imageModels/l8ZkvjaRxUuUvn9OSTVEs1fATm3DCXdWIhgEoy2s.jpg', None, None)
(52, 'MODEL HANKAM', 'MODEL HANKAM', 'uploads/xH1CWVUnP9InZ3PTlHHmAxSxbhfrzqnNNzMnlwlQ.bin', 0, datetime.datetime(2024, 8, 19, 16, 13, 55), datetime.datetime(2024, 8, 19, 16, 28, 48), 'assets/imageModels/kmwvbyhSucp4Of5e6FfJCbLgx1vlz3HPMHNwaBKK.jpg', None, None)
(53, 'Model Coba', 'Ini deskripsi', 'uploads/KBnWJM7AymjQcfNnt7djjm3bjGFBmzdpFdHU7WLq.bin', 0, datetime.datetime(2024, 8, 19, 16, 28, 48), datetime.datetime(2024, 8, 19, 16, 31, 47), 'assets/imageModels/K5SE0zKWWOMsx1Qt6zRyIA2TDiFWDBEAOV76taJq.jpg', None, None)
(54, 'MODEL TEST', 'MODEL', 'uploads/nOENxhmTwXnqwVZCKUCdXpNrh398hggSpA7gC9zc.bin', 0, datetime.datetime(2024, 8, 19, 16, 31, 47), datetime.datetime(2024, 8, 19, 16, 33, 39), 'assets/imageModels/cR8qFjgF69UTaRum1sgkvuxIhWlQErkhAODCbZZJ.jpg', None, None)
(55, 'Model', 'ini model', 'uploads/PCcrtwJV0wn1KwBNZu35HD3Ejpt9toXAmilWfAZi.bin', 0, datetime.datetime(2024, 8, 19, 16, 33, 39), datetime.datetime(2024, 8, 19, 16, 37, 47), 'assets/imageModels/l2t9ncqBqbkVLWrKOXS5h6xoubBYb3TFJD22pj7A.jpg', None, None)
(56, 'MODEL TEST', 'MODEL', 'uploads/H92hIyFqN4z7aeRkrHwgNCx9qAxKLnN0Lw99BZWV.bin', 0, datetime.datetime(2024, 8, 19, 16, 37, 46), datetime.datetime(2024, 8, 19, 16, 41, 59), 'assets/imageModels/Z4aJpwcunQyoTC5YIPGSbH5B6lYLEqZqJpUi7E6y.jpg', None, None)
(57, 'MODEL TEST', 'MODEL', 'uploads/STEZSmPmxr3kCC3bsfu4ncShFZBN8XXKlU2jlXoO.bin', 0, datetime.datetime(2024, 8, 19, 16, 41, 58), datetime.datetime(2024, 8, 19, 16, 44, 31), 'assets/imageModels/dUc33c4H3fUfz83WWXB93bLOJhd5sa9rDU7L1CUR.jpg', None, None)
(58, 'MODEL TEST', 'MODEL', 'uploads/w53TUKW71k1mz8ksxjqwBNtcRpE4Z6S4hSNK7HYK.bin', 0, datetime.datetime(2024, 8, 19, 16, 44, 31), datetime.datetime(2024, 8, 19, 17, 11, 9), 'assets/imageModels/DBUeShakpet1b2qC2WXAQWnAZ5IVxcjyZ9mQNnjn.jpg', None, None)
(59, 'MODEL TEST FINAL', 'AHUY', 'uploads/Bimojbz89PstLWsV7ESNKSyKdDINHik6KI6btVZi.bin', 0, datetime.datetime(2024, 8, 19, 17, 11, 9), datetime.datetime(2024, 8, 19, 18, 24, 5), 'assets/imageModels/d18Uno9vLTl4Ma7ZwxVtNGIVmZGF7FlCtfnhFeZs.jpg', None, None)
(60, 'Base Model', 'Base Model', 'uploads/E9e1KxLcNBeNxyHzSzySj7zR5biFooiwiOxTUlt9.bin', 0, datetime.datetime(2024, 8, 19, 18, 24, 5), datetime.datetime(2024, 8, 19, 18, 26, 36), 'assets/imageModels/DMmDjZw9FeBz3OME8FmMd94FhXrS451MWO3eGVV9.jpg', None, None)
(61, 'Base Model', 'Base Model', 'uploads/BFTWoeSgkPp0BGxYgHGl1c869IcwD3cwh4rILVzi.bin', 0, datetime.datetime(2024, 8, 19, 18, 26, 36), datetime.datetime(2024, 8, 19, 18, 30, 20), 'assets/imageModels/9nqCu6hZSWFO0Amww8QudSaEEvOswWiHdzIWzpMV.jpg', None, None)
(62, 'BASE', 'HASAd;sadkla', 'uploads/Ho1Ak0r2S14a0ZYeukuBpnGl67RGI3id3oTAMG0F.bin', 0, datetime.datetime(2024, 8, 19, 18, 30, 20), datetime.datetime(2024, 8, 19, 18, 32, 43), 'assets/imageModels/kVedYxODY2IGr5NsmdWkVnjdtrNds0tdqpc8XCJa.jpg', None, None)
(63, 'Modell', 'Ini Modell', 'uploads/p7MxJLrNEC4utCJ90niTLsQqhFfW0NprJia7Lz7Y.bin', 0, datetime.datetime(2024, 8, 19, 18, 32, 43), datetime.datetime(2024, 8, 19, 18, 36, 56), 'assets/imageModels/b8hQzfk8fobuoecjiKyvUOCciiK8stQHefE9ILYn.jpg', None, None)
(64, 'Modelllll', 'modelll', 'uploads/sJU9zlBBa5OMjpPMFUymYEZZQsrXUjAaPX5KZyQY.bin', 0, datetime.datetime(2024, 8, 19, 18, 36, 56), datetime.datetime(2024, 8, 19, 18, 53, 19), 'assets/imageModels/Dvv1KuKGOakobCZPsZ6vD9oXaHTt5djFduo9gnHI.jpg', None, None)
(65, 'Model', 'ini model', 'uploads/CDOQM35cHHcgqi8DcXTcNsiFglzqO28QPSPSfAku.bin', 0, datetime.datetime(2024, 8, 19, 18, 53, 19), datetime.datetime(2024, 8, 19, 18, 59, 48), 'assets/imageModels/t7AGHQI6tand92cAbdIFRfz4iDpIsaywiGR3YxVN.jpg', None, None)
(66, 'Model', 'joghi;g', 'uploads/x4L8aBKDkQc5IaCew74sIdrBZJDDOtn3usYX36PW.bin', 0, datetime.datetime(2024, 8, 19, 18, 59, 48), datetime.datetime(2024, 8, 19, 19, 4, 20), 'assets/imageModels/ELuDMGT9qGdabnkzKetk2Z5PvJABd5FeXyTKwLsH.jpg', None, None)
(67, 'abdas', 'asdas', 'uploads/SzSSTN9r6U1T6Q3hVuaezpULFHITswqC57V8rpyy.bin', 0, datetime.datetime(2024, 8, 19, 19, 4, 20), datetime.datetime(2024, 8, 19, 22, 3, 6), 'assets/imageModels/L9dlg0HfjRExQyMzowQed8s83oYpT8efbwXFFQd3.jpg', None, None)
(68, 'TEST', 'TEST', 'uploads/l1dYsngpEqbZk1LQ0NzkEsfYCBNKTTLQn55UkUPX.bin', 0, datetime.datetime(2024, 8, 19, 22, 3, 6), datetime.datetime(2024, 8, 19, 22, 13, 47), 'assets/imageModels/wUCqU8vflnLBIuiHWxtHgzPluHWkAOUBmVCWWwOI.jpg', None, None)
(69, 'Model', 'Model', 'uploads/QFZ1mAKpguHeVGVT0bxY4sQqkt84ajCzp4sgdnd0.bin', 0, datetime.datetime(2024, 8, 19, 22, 13, 47), datetime.datetime(2024, 8, 19, 22, 16, 12), 'assets/imageModels/PkpOC8ehDpA37PzuPzBX2aKkDGjtD7mycmZxxRjE.jpg', None, None)
(70, 'TEST', 'TEST', 'uploads/SRNMccoF7PMxbsqehLKq99rQQh7fKBx1zkN1EX83.bin', 0, datetime.datetime(2024, 8, 19, 22, 16, 12), datetime.datetime(2024, 8, 19, 22, 43, 42), 'assets/imageModels/XoFvHKGrZUwcgHxEU3dvRZ7krz7pulDslq8lt9H8.jpg', None, None)
(71, 'MODEL TEST', 'MODEL', 'uploads/X479jk4rNas5gSDNgMdjpF9ucQkIPlfrFles64rt.bin', 0, datetime.datetime(2024, 8, 19, 22, 43, 42), datetime.datetime(2024, 8, 19, 22, 44, 30), 'assets/imageModels/TXSp23OtJckce1KccUmJX7cPHcaeGkrPeDAFrcbD.jpg', None, None)
(72, 'MODEL TEST', 'ABC', 'uploads/A46MNP3tQjzqEErUyOY11KBLETcNmKokuo3SogxN.bin', 0, datetime.datetime(2024, 8, 19, 22, 44, 30), datetime.datetime(2024, 8, 19, 22, 49, 13), 'assets/imageModels/ylaUPdVLg0CNHjCzqwqg9bpzkgBkRyH385tPqWru.jpg', None, None)
(73, 'MODEL TEST', 'asda', 'uploads/r35cNsG440PLk7HANOUrcaibXvYLGk9rVk7ylMTN.bin', 0, datetime.datetime(2024, 8, 19, 22, 49, 13), datetime.datetime(2024, 8, 19, 22, 51, 7), 'assets/imageModels/lO6ry3E8QDip4x4t0zIONbaaYn1o36uosZNMgbDN.jpg', None, None)
(74, 'Farrel Arrizal', 'asda', 'uploads/QpUzZKc0vdQwOXsEyPKMBadRJ0fLhkRcQprcQoAo.bin', 0, datetime.datetime(2024, 8, 19, 22, 51, 7), datetime.datetime(2024, 8, 19, 22, 52, 41), 'assets/imageModels/2YtpOL5BA6OF0gME9KOZrORcQ0V1KMrnnlInZTZm.jpg', None, None)
(75, 'Farrel Arrizal', 'asda', 'uploads/RxPstUW1UanuwCKIN2klHQrqjsZXTDFD4XxklMT4.bin', 0, datetime.datetime(2024, 8, 19, 22, 52, 41), datetime.datetime(2024, 8, 19, 22, 55, 10), 'assets/imageModels/dpTMZmTWNxZk9m4DvlFaXbOMvaQLi2vGMxOW1Lzl.jpg', None, None)
(76, 'Farrel Arrizal', 'asda', 'uploads/2FGClJrCJrDMc3JtW9Cfk8qiHkrLAOxZQqmuHbBm.bin', 0, datetime.datetime(2024, 8, 19, 22, 55, 10), datetime.datetime(2024, 8, 19, 22, 57, 5), 'assets/imageModels/uaogX75YzjjXBFSa33Ki8CQ0j8FlMhXVeomC0zE0.jpg', None, None)
(77, 'Farrel Arrizal', 'asda', 'uploads/kqIbRlR2FCufq3ubH4FcU1rLkClDappKpi2xmci8.bin', 0, datetime.datetime(2024, 8, 19, 22, 57, 5), datetime.datetime(2024, 8, 19, 22, 57, 20), 'assets/imageModels/JZGYyThC9szkYUktVc7jIQKT2lJUhUG544Hz68u5.jpg', None, None)
(78, 'aSCENARIO TEST', 'asd', 'uploads/5pAP5Qi0IUEghDIE20fvviQvAqgqZNaHh8DEYhg9.bin', 0, datetime.datetime(2024, 8, 19, 22, 57, 20), datetime.datetime(2024, 8, 19, 22, 59, 4), 'assets/imageModels/fUsDsnQIx6jhmbhhy507pmgyYmOW8AxmeTFSO5er.jpg', None, None)
(79, 'MODEL TEST', 'asda', 'uploads/TCEsJuiVeZMIbC6n8vELnG00GKDG6RIar33jeglr.bin', 0, datetime.datetime(2024, 8, 19, 22, 59, 4), datetime.datetime(2024, 8, 19, 23, 2, 45), 'assets/imageModels/sTMCCdkxgdBANyoWXg3tC9JEl6HMEJAVk0J9onws.jpg', None, None)
(80, 'Farrel Arrizal', 'asd', 'uploads/PSGy6taO5kYec1iQ23AGNp6Pk3Ec7LtnYDysHCTH.bin', 0, datetime.datetime(2024, 8, 19, 23, 2, 45), datetime.datetime(2024, 8, 19, 23, 3, 59), 'assets/imageModels/jTuV8W7PObisoLmyopfAbvsq3VyLcDqq0k0TYIvg.jpg', None, None)
(81, 'asda', 'asd', 'uploads/Ot2TSTyeBZwdgHoB4MPmO12bLQY8VSaJ7DQoiO8v.bin', 0, datetime.datetime(2024, 8, 19, 23, 3, 59), datetime.datetime(2024, 8, 19, 23, 10, 39), 'assets/imageModels/RyjtvAybU2mmQtTo3xzB3s2DQlxiaHKtQ6oRE4hP.jpg', None, None)
(82, 'asda', 'asd', 'uploads/JFYIUZZYxgSRD30GWApEtBddxBxPtH6AECe6cNYV.bin', 0, datetime.datetime(2024, 8, 19, 23, 10, 39), datetime.datetime(2024, 8, 19, 23, 10, 59), 'assets/imageModels/wqgbwztJJurdJzg0dCL1aMWPqHnQ1RSph2SEqUxd.jpg', None, None)
(83, 'asda', 'asdas', 'uploads/oJmufXJScySk0hzdy4gda6YTMWaixQEgB6xB3PQP.bin', 0, datetime.datetime(2024, 8, 19, 23, 10, 59), datetime.datetime(2024, 8, 19, 23, 14, 55), 'assets/imageModels/bVoYHG41AoJ9O6rz4QgNFNlqN0jqLmv1tIL6oeZt.jpg', None, None)
(84, 'asda', 'asda', 'uploads/RpFXoLt7M2bTX6tKnk44okMtd8rDh6BxgsuLwOQg.bin', 0, datetime.datetime(2024, 8, 19, 23, 14, 55), datetime.datetime(2024, 8, 19, 23, 18, 7), 'assets/imageModels/4tejWSoWM7Cr6sH6tcfku0kTOU104QC7bTraBGZh.jpg', None, None)
(85, 'MODEL TEST', 'asda', 'uploads/ip7EixCsF2i6j630yAkYh9dHqRR0FmpqyaDvLkCv.bin', 0, datetime.datetime(2024, 8, 19, 23, 18, 7), datetime.datetime(2024, 8, 19, 23, 24, 19), 'assets/imageModels/e8wyRjW1gjgtwohgFqoq7yu8AsUeQ0O2MbNIe2Rv.jpg', None, None)
(86, 'abc', 'asas', 'uploads/bdl6HHbigh0i1QScec0XG3H1usrwi27MKHp25afm.bin', 0, datetime.datetime(2024, 8, 19, 23, 24, 19), datetime.datetime(2024, 8, 19, 23, 26, 8), 'assets/imageModels/AOGKswIVmsF2i57oBLKS0OpNmUMPIOFEO5ISeMDd.jpg', None, None)
(87, 'asda', 'asda', 'uploads/war2qU9zalosV0q26dYmqk8KZzBJegK9YYX2z8Qr.bin', 0, datetime.datetime(2024, 8, 19, 23, 26, 8), datetime.datetime(2024, 8, 19, 23, 27, 26), 'assets/imageModels/601BjehShJgsRBdpF3al1mODsP3jZ7to6wBaBWqf.jpg', None, None)

In [3]:
import pandas as pd
import json
import pyodbc
pyodbc.drivers()

['ODBC Driver 17 for SQL Server',
 'ODBC Driver 18 for SQL Server',
 'MySQL-NATUNA',
 'ODBC Drivers',
 'ODBC Connection Pooling']

# Read Model

In [4]:
import json
import pandas as pd

In [35]:
# file_name = '6_SFD_Basemodel 2908.mdl'
# file_name = 'Most Likely.mdl'

In [5]:
def load_model(file_name, model_id):
    # Open the .mdl file in read mode
    with open(file_name, 'r', encoding='utf-8') as file:
        # Read the content of the file
        mdl_content = file.read()
    # Split the content of the file by the newline character


    mdl_content = mdl_content.split('********************************************************')[0].replace('{UTF-8}', '\n').replace('\n','').replace('\t', '')
    variables = mdl_content.split('|')
    
    result = []
    for item in variables[:-1]:
        result.append(item.split('\t'))
        
    
    final = []
    for item in result:
        item = item[0]
        temp = {}
        try:
            # print(item)
            temp_list = item.split('~')        
            # print(temp_list)
            
            # temp_list = temp_list[1].split('~')
            temp['name'] = temp_list[0].split('=')[0]
            # print(len(temp_list[0].split('=')[0]))
            temp['value'] = '='.join(temp_list[0].split('=')[1:]).strip()
            temp['level'] = temp_list[-2]
            temp['unit'] = temp_list[-1]
            
            # temp_list = temp_list[0].split('=')[0]
            
        except Exception as e:
            print('error')
            print(str(e))
            print(item)
            break
        final.append(temp)
    
    df = pd.read_json(json.dumps(final))
    df = df.fillna('NULL')
    df = df.replace('', 'NULL')
    df['model_id'] = model_id
    
    return df

In [7]:
model_id = 97
data = load_model(file_name, model_id)
data

,name,value,level,unit,model_id
0,Workforce Quality,"RANDOM UNIFORM(1, 5, 1)-Effect of Billateral C...",Percentage,NULL,97
1,Effect of Billateral Cooperation,"IF THEN ELSE(Time>60, Economic Approach with C...",Percentage,NULL,97
2,Military Impact,North Natuna Defense and Security+(Effect of B...,Percentage,NULL,97
3,Global Defense Partnership,"IF THEN ELSE(Time>61, RANDOM UNIFORM(1, 2 , 1 ...",Percentage,NULL,97
4,Modernization and Acquisition of Warships,"IF THEN ELSE(Time>60, 15 , 0 )",Percentage,NULL,97
...,...,...,...,...,...
209,Number of Non Military Threats,6,Dmnl,NULL,97
210,Social Media Level of Threats,Social Media Probability+Social Media Severity,Dmnl,NULL,97
211,Risk Level Maximum Score,9,Dmnl,NULL,97
212,Proxy Level of Threats,Proxy Probability+Proxy Severity,Dmnl,NULL,97
213,Smuggling Level of Threats,Smuggling Probability+Smuggling Severity,Dmnl,NULL,97

In [8]:
def load_raw(file_name):
    # Open the .mdl file in read mode
    with open(file_name, 'r', encoding='utf-8') as file:
        # Read the content of the file
        mdl_content = file.read()
    return mdl_content

In [9]:
raw = load_raw(file_name).split('********************************************************')[-1].split('|')[1]
raw

'\n\nFINAL TIME  = 132\n\t~\tMonth\n\t~\tThe final time for the simulation.\n\t'

In [10]:
def get_final_time(model):
    model = load_raw(file_name).split('********************************************************')[-1].split('|')[1]
    model = model.split('\n')
    final_time = 0
    
    for m in model:
        if 'FINAL TIME' in m:
            final_time = m.split('=')[-1].strip()  
    
    # return model
    return int(final_time)

get_final_time(file_name)

132

In [28]:
def get_sfd_name(file_name):
    model = load_raw(file_name).split('********************************************************')[-1].split('*')
    
    # last model modify to split "///---\\\"
    temp =  model[-1].split('///---\\\n')[0]
    
    #change the last model to temp
    model[-1] = temp
    number_of_sfd = 0
    sfds = []

    for m in model:
        temp1 = m.split('\n')[0].strip()
        if temp1 != '~':
            number_of_sfd += 1
            sfd_name = temp1
            sfds.append(sfd_name)
    return sfds
        
get_sfd_name(file_name)

['Natuna Sea Threats',
 'Naval Strength',
 'Naval Deployment',
 'Naval Capabilities',
 'Naval Defense Posture',
 'National Defense',
 'Marine Resource',
 'Economic Value']

In [ ]:

def get_sfd(model, model_id):
    model = load_raw(file_name).split('********************************************************')[-1].split('*')
    
    # last model modify to split "///---\\\"
    temp =  model[-1].split('///---\\\n')[0]
    
    # load sfd id
    sfd_ids = get_sfd_id(model_id)
    sfd_ids = dict(sfd_ids)
    
    # load variable
    variable_ids = get_variable_id(model_id)
    variable_ids = dict(variable_ids)
    
    
    #change the last model to temp
    model[-1] = temp
    number_of_sfd = 0
    all_sfd_variables = []
    
    for m in model:
        number_of_sfd += 1
        sfd_name = m.split('\n')[0].strip()
        sfd_variables = []
        variables = m.split('\n')

        for variable in variables:
            # if startwith 10 get the variable name
            try:
                if variable.startswith('10'):
                    # print(variable_name)
                    variable_name = variable.split(',')[2].strip()
                    #  if variable not string then skip
                    if not variable_name[0].isalpha():
                        continue
                    sfd_variables.append(variable_name)
            except Exception as e:
                pass
            
        
        # for variable in sfd_variables:
        #     for key, value in sfd_ids.items():
        #         if value == sfd_name:
        #             sfd_id = key
        #         else:
        #             sfd_id = 0
                    
        #     for key, value in variable_ids.items():
        #         if value == variable:
        #             variable_id = key
        #         else:
        #             variable_id = 0
            
        #     all_sfd_variables.append({
        #         'sfd_name': sfd_name,
        #         'variable': variable.strip(),
        #         'model_id': model_id,
        #         'sfd_id': sfd_id,
        #         'variable_id': variable_id
        #     })
            
    return pd.DataFrame(all_sfd_variables)

In [ ]:
load_raw(fil)

In [ ]:
get_sfd(model,  97)

In [75]:
def get_sfd_id(model_id):
    query = f"SELECT id, name FROM sfd WHERE model_id = {model_id}"
    result = execute_query(query)
    return result

get_sfd_id(97)

[(341, 'Natuna Sea Threats'),
 (342, 'Naval Strength'),
 (343, 'Naval Deployment'),
 (344, 'Naval Capabilities'),
 (345, 'Naval Defense Posture'),
 (346, 'National Defense'),
 (347, 'Marine Resource'),
 (348, 'Economic Value')]

In [76]:
def get_variable_id(model_id):
    query = f"SELECT id, name FROM variables WHERE model_id = {model_id}"
    result = execute_query(query)
    return result

get_variable_id(98)

[(13073, 'Workforce Quality'),
 (13074, 'Effect of Billateral Cooperation'),
 (13075, 'Military Impact'),
 (13076, 'Global Defense Partnership'),
 (13077, 'Modernization and Acquisition of Warships'),
 (13078, 'Economic Approach with China'),
 (13079, 'Defense Capability'),
 (13080, 'Maritime Surveillance'),
 (13081, 'Warships Strength'),
 (13082, 'Defense Budgeting'),
 (13083, '"Non-Tax Indonesia State Income"'),
 (13084, 'Naval Capabilities'),
 (13085, 'Marine Resource Utilization'),
 (13086, 'North Natuna Sea Stability'),
 (13087, 'Financial Impact'),
 (13088, 'Natural Gas Prices'),
 (13089, 'Natural Gas Reserves Utilization'),
 (13090, 'Discovery of New Oil Reserves within the Area'),
 (13091, 'North Natuna Oil Reserves'),
 (13092, 'Amount of Natural Gas Discovered in the BLock'),
 (13093, 'Oil Prices'),
 (13094, 'Oil Reserves Utilization'),
 (13095, 'Economic Values of Small Fish Catching'),
 (13096, 'Potential Economic Value of North Natuna Sea'),
 (13097, 'Economic Values of Lobsters and Shrimp Catching'),
 (13098, '"Block D-Alpha Natural Gas Reserves"'),
 (13099, 'Ratio of Natural Gas in the Reserves'),
 (13100, 'Potential Value of Oil Reserves'),
 (13101, '"Initial Value of Block D-Alpha Gas Reserves"'),
 (13102, 'Utilization of Gas within the area'),
 (13103, 'Utilization of Oil within the area'),
 (13104, 'Potential Value of Natural Gas'),
 (13105, 'Economic Values of Reef and Deep Sea Fish Catching'),
 (13106, 'Discovery of New Natural Gas Reserves within the Area'),
 (13107, 'Potential Economic Value of Oil and Gas'),
 (13108, 'Age of Reef and Deep Sea Fish'),
 (13109, 'Age of Shrimp and Lobsters'),
 (13110, 'Age of Small Fish'),
 (13111, 'Rate of Reef and Deep Sea Fish Increase'),
 (13112, 'Rate of Shrimp and Lobster Catching'),
 (13113, 'Rate of Shrimp and Lobster Increase'),
 (13114, 'Rate of Shrimp and Lobsters Decrease'),
 (13115, 'Rate of Small Fish Catching'),
 (13116, 'Rate of Small Fish Decrease'),
 (13117, 'Rate of Small Fish Increase'),
 (13118, 'Reef and Deep Sea Fish Fishing Ratio'),
 (13119, 'Reef and Deep Sea Fish Increase'),
 (13120, 'Reef and Deep Sea Fish Market Price'),
 (13121, 'Shrimp and Lobsters Market Price'),
 (13122, 'Number of Reef and Deep Sea Fish Catching'),
 (13123, 'Small Fish Increase'),
 (13124, 'Number of Small Fish Catching'),
 (13125, 'Small Fish Fishing Ratio'),
 (13126, 'Economic Value of Fisheries'),
 (13127, 'Potential Number of Reef and Deep Sea Fish in The Sea'),
 (13128, 'Shrimp and Lobster Fishing Ratio'),
 (13129, 'Shrimp and Lobster Increase'),
 (13130, 'Small Fish Market Price'),
 (13131, 'Period of Fishing'),
 (13132, 'Rate of Reef and Deep Sea Fish Catching'),
 (13133, 'Rate of Reef and Deep Sea Fish Decrease'),
 (13134, 'Potential Number of Small Fish in The Sea'),
 (13135, 'Potential Number of Shrimp and Lobsters in The Sea'),
 (13136, 'Quality Rate of Missiles'),
 (13137, 'Availability of Fighter Jet'),
 (13138, 'Availability of Medium Tank'),
 (13139, 'Availability of Missiles'),
 (13140, 'Availability of National Radar'),
 (13141, 'Availability of Propellant Industry'),
 (13142, 'Availability of Rocket'),
 (13143, 'Availability of Submarine'),
 (13144, 'Climate Change'),
 (13145, 'National Security Strategy'),
 (13146, 'Communication System'),
 (13147, 'Cybersecurity'),
 (13148, 'Defense and Security Regulation'),
 (13149, 'Economic Factors'),
 (13150, 'Development Program'),
 (13151, 'Impact of Manufacturing Improvement'),
 (13152, 'Impact of Medium Tanks'),
 (13153, 'Impact of Missiles'),
 (13154, 'Impact of National Radar'),
 (13155, 'Impact of Naval Human Resources'),
 (13156, 'Performance Efficiency of Fighter Jet'),
 (13157, 'Performance Efficiency of Medium Tank'),
 (13158, 'Technological Advances'),
 (13159, 'Number of Shrimp and Lobsters Catching'),
 (13160, 'Quality Rate of Submarine'),
 (13161, 'Threat Assesment'),
 (13162, 'Emergency preparedness'),
 (13163, 'Quality Rate of Fighter Jet'),
 (13164, 'Quality Rate of Medium Tank'),
 (13165, 'Physical Impact'),
 (13166, 'Quality Rate of National Radar'),
 (13167, 'Quality Rate of Propellant Industry'),
 (13168, 'Population Density'),
 (13169, 'Priority Program'),
 (13170, 'Geographical Factors'),
 (13171, 'Military and Intelligent Agencies'),
 (13172, 'Legal Framework'),
 (13173, 'Technological Impact'),
 (13174, 'Impact of Propellant Industry'),
 (13175, 'Impact of Rocket Development'),
 (13176, 'Impact of Submarine'),
 (13177, 'Impact of Fighter Jet'),
 (13178, 'Human Resource Impact'),
 (13179, 'Performance Efficiency of Submarine'),
 (13180, 'International relations'),
 (13181, 'Quality Rate of Rocket'),
 (13182, 'Performance Efficiency of Rocket'),
 (13183, 'Impact of Technological Innovation'),
 (13184, 'Performance Efficiency of Missiles'),
 (13185, '"State Revenue (Tax)"'),
 (13186, 'Public Opinion and Ethics'),
 (13187, 'Performance Efficiency of Propellant Industry'),
 (13188, 'Performance Efficiency of National Radar'),
 (13189, 'National Defense and Security Infrastructure'),
 (13190, 'Period of Time'),
 (13191, 'Level of Threat'),
 (13192, 'Defense Score'),
 (13193, 'Foreign Policy'),
 (13194, 'Misuses of AIS and Positioning Data Probability'),
 (13195, 'Combined Deploy'),
 (13196, 'Multilateral Power'),
 (13197, 'Diplomacy Ability'),
 (13198, 'Diplomatic Network'),
 (13199, 'Disinfromation Campaign Probability'),
 (13200, 'Disinfromation Campaign Severity'),
 (13201, 'Drug Shipping Probability'),
 (13202, 'Drug Shipping Severity'),
 (13203, 'North Natuna Defense and Security'),
 (13204, 'Embargo Probability'),
 (13205, 'Embargo Severity'),
 (13206, 'Manipulation Signal Used Severity'),
 (13207, 'Support Capabilities'),
 (13208, 'Espionage by Maritime Probability'),
 (13209, 'Espionage by Maritime Severity'),
 (13210, 'Piracy Probability'),
 (13211, 'Piracy Severity'),
 (13212, 'Firewall Probability'),
 (13213, 'Firewall Severity'),
 (13214, 'Proxy Severity'),
 (13215, 'Grouped Deploy'),
 (13216, 'Misuses of AIS and Positioning Data Severity'),
 (13217, 'Regional Empowerment Capabilities'),
 (13218, 'Manipulation Signal Used Probability'),
 (13219, 'Natural Disaster Probability'),
 (13220, 'Natural Disaster Severity'),
 (13221, 'IT System Severity'),
 (13222, 'Illegal Fishing Probability'),
 (13223, 'Illegal Fishing Severity'),
 (13224, 'Intelligence Ability'),
 (13225, 'Military Invasion Severity'),
 (13226, 'Smuggling Probability'),
 (13227, 'Military Invasion Probability'),
 (13228, 'Social Media Probability'),
 (13229, 'Naval Defense Posture'),
 (13230, 'Social Media Severity'),
 (13231, 'Proxy Probability'),
 (13232, 'Smuggling Severity'),
 (13233, 'Terorism Probability'),
 (13234, 'Naval Deployment'),
 (13235, 'Unit Deploy'),
 (13236, 'Terorism Severity'),
 (13237, 'Sabotage Severity'),
 (13238, 'Sabotage Probability'),
 (13239, 'Aircraft Strength'),
 (13240, 'Combat Vehicle Score'),
 (13241, 'Harbour'),
 (13242, 'Refuel'),
 (13243, 'Repair'),
 (13244, 'Replenishment'),
 (13245, 'Rest'),
 (13246, 'Patroling'),
 (13247, 'Marine Personel Forces'),
 (13248, 'Fighters Aircraft Score'),
 (13249, 'Naval Strength'),
 (13250, 'IT System Probability'),
 (13251, 'Recreation'),
 (13252, 'Supporting'),
 (13253, 'Enablers Aircraft'),
 (13254, 'Marine Ability Score'),
 (13255, 'Marine Forces Strength'),
 (13256, 'Striking'),
 (13257, 'Hijacking Severity'),
 (13258, 'Hijacking Probability'),
 (13259, 'Cyber Attack Level of Threats'),
 (13260, 'Disinfromation Campaign Level of Threats'),
 (13261, 'National Sea Threat Risk'),
 (13262, 'Drugs Shipping Level of Threats'),
 (13263, 'Embargo Level of Threats'),
 (13264, 'Espionage by Maritime Level of Threats'),
 (13265, 'Firewall Level of Threats'),
 (13266, 'Hijacking Level of Threats'),
 (13267, 'Hybrid Risk Level'),
 (13268, 'Illegal Fishing Level of Threats'),
 (13269, 'Military Invasion Level of Threats'),
 (13270, 'IT System Level of Threats'),
 (13271, 'Manipulation Signal Used Level of Threats'),
 (13272, 'Piracy Level of Threats'),
 (13273, 'Military Risk Level'),
 (13274, 'Misuses of AIS and Positioning Data Level of Threats'),
 (13275, 'Sabotage Level of Threats'),
 (13276, 'Terorism Level of Threats'),
 (13277, 'Natural Disasters Level of Threats'),
 (13278, 'Non Military Risk Level'),
 (13279, 'Number of Cyber Attack'),
 (13280, 'Number of Hybrid Threats'),
 (13281, 'Number of Military Threats'),
 (13282, 'Number of Non Military Threats'),
 (13283, 'Social Media Level of Threats'),
 (13284, 'Risk Level Maximum Score'),
 (13285, 'Proxy Level of Threats'),
 (13286, 'Smuggling Level of Threats')]

In [54]:
 sfd_ids = get_sfd_id(model_id)
 dict(sfd_ids)

SELECT id, name FROM sfd WHERE model_id = 97

{341: 'Natuna Sea Threats',
 342: 'Naval Strength',
 343: 'Naval Deployment',
 344: 'Naval Capabilities',
 345: 'Naval Defense Posture',
 346: 'National Defense',
 347: 'Marine Resource',
 348: 'Economic Value'}

In [79]:
import pandas as pd

def get_sfd(file_name, model_id):
    try:
        model = load_raw(file_name).split('********************************************************')[-1].split('*')
        print(model)
        # Handle last model section
        if model:
            temp = model[-1].split('///---\\\n')[0]
            model[-1] = temp
        
        number_of_sfd = 0
        all_sfd_variables = []

        # Load data from the database
        sfd_ids = dict(get_sfd_id(model_id))
        variable_ids = dict(get_variable_id(model_id))
        
        df_sfd = pd.DataFrame(sfd_ids.items(), columns=['id', 'name'])
        df_variable = pd.DataFrame(variable_ids.items(), columns=['id', 'name'])     

        for m in model:
            number_of_sfd += 1
            sfd_name = m.split('\n')[0].strip()
            sfd_variables = []
            variables = m.split('\n')

            for variable in variables:
                # Handle exceptions and extract valid variable names
                try:
                    if variable.startswith('10'):
                        variable_name = variable.split(',')[2].strip()
                        if variable_name and variable_name[0].isalpha():  # Check if valid string
                            sfd_variables.append(variable_name)
                except IndexError:
                    continue  # Skip if index issues arise

            # Add extracted variables to the list
            for variable in sfd_variables:
                all_sfd_variables.append({
                    'sfd_name': sfd_name,
                    'variable': variable.strip(),
                    'model_id': model_id,
                })

        # Create dataframe for the final result
        df = pd.DataFrame(all_sfd_variables)

        # Perform merging outside of the loop for efficiency
        if not df.empty:
            df = df.merge(df_sfd, left_on='sfd_name', right_on='name', how='inner')
            df = df.merge(df_variable, left_on='variable', right_on='name', how='inner')
            df = df[['id_x', 'id_y', 'model_id']]
            df.columns = ['sfd_id', 'variable_id', 'model_id']
        
        return df
    except Exception as e:
        print(f"An error occurred: {e}")
        # show the error
        
        return pd.DataFrame()  # Return an empty dataframe on error

# Call the function
get_sfd(file_name, model_id)

['~\n\t\tSimulation Control Parameters\n\t|\n\nFINAL TIME  = 132\n\t~\tMonth\n\t~\tThe final time for the simulation.\n\t|\n\nINITIAL TIME  = 1\n\t~\tMonth\n\t~\tThe initial time for the simulation.\n\t|\n\nSAVEPER  = \n        TIME STEP\n\t~\tMonth [0,?]\n\t~\tThe frequency with which output is stored.\n\t|\n\nTIME STEP  = 1\n\t~\tMonth [0,?]\n\t~\tThe time step for the simulation.\n\t|\n\n\\\\\\---/// Sketch information - do not modify anything except names\nV300  Do not put anything below this section - it will be ignored\n', 'Natuna Sea Threats\n$-1--1--1,0,|12||-1--1--1|-1--1--1|-1--1--1|-1--1--1|-1--1--1|96,96,73,0\n10,1,Hijacking Level of Threats,-156,349,57,57,2,3,0,0,-1,0,0,0,0,0,0,0,0,0\n10,2,Illegal Fishing Level of Threats,-166,476,54,54,2,3,0,0,-1,0,0,0,0,0,0,0,0,0\n10,3,Natural Disasters Level of Threats,-98,600,64,64,2,3,0,0,-1,0,0,0,0,0,0,0,0,0\n10,4,Drugs Shipping Level of Threats,32,659,56,56,2,3,0,0,-1,0,0,0,0,0,0,0,0,0\n10,5,Smuggling Level of Threats,182,669,54,54,2,3,0,0,-1,0,0,0,0,0,0,0,0,0\n10,6,Piracy Level of Threats,305,603,53,53,2,3,0,0,-1,0,0,0,0,0,0,0,0,0\n10,7,Hijacking Probability,-305,284,75,30,8,3,0,0,-1,0,0,0,0,0,0,0,0,0\n10,8,Hijacking Severity,-314,365,59,24,8,3,0,0,-1,0,0,0,0,0,0,0,0,0\n1,9,7,1,1,0,0,0,0,192,0,-1--1--1,,1|(-215,285)|\n1,10,8,1,1,0,0,0,0,192,0,-1--1--1,,1|(-234,371)|\n10,11,Illegal Fishing Probability,-327,444,75,30,8,3,0,0,-1,0,0,0,0,0,0,0,0,0\n10,12,Illegal Fishing Severity,-304,530,75,30,8,3,0,0,-1,0,0,0,0,0,0,0,0,0\n10,13,Natural Disaster Probability,-243,635,75,30,8,3,0,0,-1,0,0,0,0,0,0,0,0,0\n10,14,Natural Disaster Severity,-195,699,75,30,8,3,0,0,-1,0,0,0,0,0,0,0,0,0\n10,15,Drug Shipping Probability,-53,759,75,30,8,3,0,0,-1,0,0,0,0,0,0,0,0,0\n10,16,Drug Shipping Severity,60,784,75,30,8,3,0,0,-1,0,0,0,0,0,0,0,0,0\n10,17,Smuggling Probability,227,787,75,30,8,3,0,0,-1,0,0,0,0,0,0,0,0,0\n10,18,Smuggling Severity,307,746,75,30,8,3,0,0,-1,0,0,0,0,0,0,0,0,0\n10,19,Piracy Probability,397,708,75,30,8,3,0,0,-1,0,0,0,0,0,0,0,0,0\n10,20,Piracy Severity,443,649,75,30,8,3,0,0,-1,0,0,0,0,0,0,0,0,0\n1,21,11,2,1,0,0,0,0,192,0,-1--1--1,,1|(-252,437)|\n1,22,12,2,1,0,0,0,0,192,0,-1--1--1,,1|(-215,537)|\n1,23,13,3,1,0,0,0,0,192,0,-1--1--1,,1|(-205,596)|\n1,24,14,3,1,0,0,0,0,192,0,-1--1--1,,1|(-109,692)|\n1,25,15,4,1,0,0,0,0,192,0,-1--1--1,,1|(-38,716)|\n1,26,16,4,1,0,0,0,0,192,0,-1--1--1,,1|(63,744)|\n1,27,17,5,1,0,0,0,0,192,0,-1--1--1,,1|(192,749)|\n1,28,18,5,1,0,0,0,0,192,0,-1--1--1,,1|(277,702)|\n1,29,19,6,1,0,0,0,0,192,0,-1--1--1,,1|(331,673)|\n1,30,20,6,1,0,0,0,0,192,0,-1--1--1,,1|(400,611)|\n10,31,Non Military Risk Level,74,479,57,57,2,3,0,0,-1,0,0,0,0,0,0,0,0,0\n1,32,1,31,1,0,0,0,0,192,0,-1--1--1,,1|(-37,390)|\n1,33,2,31,1,0,0,0,0,192,0,-1--1--1,,1|(-59,456)|\n1,34,3,31,1,0,0,0,0,192,0,-1--1--1,,1|(-26,529)|\n1,35,4,31,1,0,0,0,0,192,0,-1--1--1,,1|(65,570)|\n1,36,5,31,1,0,0,0,0,192,0,-1--1--1,,1|(152,563)|\n1,37,6,31,1,0,0,0,0,192,0,-1--1--1,,1|(214,513)|\n10,38,Risk Level Maximum Score,328,450,75,30,8,3,0,0,-1,0,0,0,0,0,0,0,0,0\n1,39,38,31,1,0,0,0,0,192,0,-1--1--1,,1|(203,443)|\n10,40,Number of Non Military Threats,0,328,75,30,8,3,0,0,-1,0,0,0,0,0,0,0,0,0\n1,41,40,31,1,0,0,0,0,192,0,-1--1--1,,1|(53,383)|\n10,42,Military Risk Level,143,165,57,57,2,3,0,0,-1,0,0,0,0,0,0,0,0,0\n10,43,Military Invasion Level of Threats,-93,162,53,53,2,3,0,0,-1,0,0,0,0,0,0,0,0,0\n10,44,Terorism Level of Threats,-46,44,56,56,2,3,0,0,-1,0,0,0,0,0,0,0,0,0\n10,45,Sabotage Level of Threats,253,-18,55,55,2,3,0,0,-1,0,0,0,0,0,0,0,0,0\n10,46,Embargo Level of Threats,335,73,56,56,2,3,0,0,-1,0,0,0,0,0,0,0,0,0\n10,47,Number of Military Threats,-12,250,75,30,8,3,0,0,-1,0,0,0,0,0,0,0,0,0\n1,48,47,42,1,0,0,0,0,192,0,-1--1--1,,1|(84,229)|\n1,49,43,42,1,0,0,0,0,192,0,-1--1--1,,1|(26,179)|\n1,50,44,42,1,0,0,0,0,192,0,-1--1--1,,1|(40,127)|\n1,51,45,42,1,0,0,0,0,192,0,-1--1--1,,1|(211,88)|\n1,52,46,42,1,0,0,0,0,192,0,-1--1--1,,1|(249,137)|\n10,53,Military Invasion Probability,-243,127,75,30,8,3,0,0,-1,0,0,0,0,0,0,0,0,0\n10,54,Military Invasion Severity,-240,196,75,30,8,3,0,0,-1,0,0,0,0,0,0,0,0,0\n1,55,53,43,1,0,0,0,0,192,0,-1--1--1,,1|(-174,118)|\n1,56,54,43,1,0,0,0,0,192,0,-1--1--1,,1|(-170,201)|\n10,57,Terorism Probability,-195,12,75,30,8,3,0,0,-1,0,0,0,0,0,0,0,0,0\n10,58,Terorism Severity,-192,72,75,30,8,3,0,0,-1,0,0,0,0,0,0,0,0,0\n1,59,57,44,1,0,0,0,0,192,0,-1--1--1,,1|(-118,7)|\n1,60,58,44,1,0,0,0,0,192,0,-1--1--1,,1|(-122,71)|\n10,61,Embargo Probability,484,-4,57,22,8,3,0,0,-1,0,0,0,0,0,0,0,0,0\n10,62,Embargo Severity,514,76,75,30,8,3,0,0,-1,0,0,0,0,0,0,0,0,0\n1,63,61,46,1,0,0,0,0,192,0,-1--1--1,,1|(388,19)|\n1,64,62,46,1,0,0,0,0,192,0,-1--1--1,,1|(422,96)|\n10,65,Sabotage Probability,394,-118,75,30,8,3,0,0,-1,0,0,0,0,0,0,0,0,0\n10,66,Sabotage Severity,401,-70,78,19,8,3,0,0,-1,0,0,0,0,0,0,0,0,0\n1,67,65,45,1,0,0,0,0,192,0,-1--1--1,,1|(331,-107)|\n1,68,66,45,1,0,0,0,0,192,0,-1--1--1,,1|(351,-38)|\n10,69,Cyber Attack Level of Threats,68,-90,58,58,2,3,0,0,-1,0,0,0,0,0,0,0,0,0\n1,70,69,42,1,0,0,0,0,192,0,-1--1--1,,1|(138,27)|\n10,71,Number of Cyber Attack,76,53,75,30,8,3,0,0,-1,0,0,0,0,0,0,0,0,0\n1,72,71,69,1,0,0,0,0,192,0,-1--1--1,,1|(58,-12)|\n10,73,Misuses of AIS and Positioning Data Level of Threats,-90,-86,78,78,2,3,0,0,-1,0,0,0,0,0,0,0,0,0\n10,74,Misuses of AIS and Positioning Data Probability,-267,-55,75,30,8,3,0,0,-1,0,0,0,0,0,0,0,0,0\n10,75,Misuses of AIS and Positioning Data Severity,-272,-146,75,30,8,3,0,0,-1,0,0,0,0,0,0,0,0,0\n10,76,Manipulation Signal Used Level of Threats,-89,-241,76,76,2,3,0,0,-1,0,0,0,0,0,0,0,0,0\n10,77,Manipulation Signal Used Probability,-279,-220,75,30,8,3,0,0,-1,0,0,0,0,0,0,0,0,0\n10,78,Manipulation Signal Used Severity,-242,-313,75,30,8,3,0,0,-1,0,0,0,0,0,0,0,0,0\n10,79,IT System Level of Threats,37,-257,54,54,2,3,0,0,-1,0,0,0,0,0,0,0,0,0\n10,80,IT System Probability,-80,-381,75,30,8,3,0,0,-1,0,0,0,0,0,0,0,0,0\n10,81,IT System Severity,59,-382,75,30,8,3,0,0,-1,0,0,0,0,0,0,0,0,0\n10,82,Espionage by Maritime Level of Threats,164,-244,72,72,2,3,0,0,-1,0,0,0,0,0,0,0,0,0\n10,83,Espionage by Maritime Probability,207,-385,75,30,8,3,0,0,-1,0,0,0,0,0,0,0,0,0\n10,84,Espionage by Maritime Severity,323,-325,75,30,8,3,0,0,-1,0,0,0,0,0,0,0,0,0\n10,85,Firewall Level of Threats,209,-131,51,51,2,3,0,0,-1,0,0,0,0,0,0,0,0,0\n10,86,Firewall Probability,330,-239,75,30,8,3,0,0,-1,0,0,0,0,0,0,0,0,0\n10,87,Firewall Severity,346,-192,75,30,8,3,0,0,-1,0,0,0,0,0,0,0,0,0\n1,88,75,73,1,0,0,0,0,192,0,-1--1--1,,1|(-164,-134)|\n1,89,74,73,1,0,0,0,0,192,0,-1--1--1,,1|(-167,-54)|\n1,90,78,76,1,0,0,0,0,192,0,-1--1--1,,1|(-147,-297)|\n1,91,77,76,1,0,0,0,0,192,0,-1--1--1,,1|(-190,-216)|\n1,92,80,79,1,0,0,0,0,192,0,-1--1--1,,1|(-56,-326)|\n1,93,81,79,1,0,0,0,0,192,0,-1--1--1,,1|(68,-339)|\n1,94,83,82,1,0,0,0,0,192,0,-1--1--1,,1|(168,-343)|\n1,95,84,82,1,0,0,0,0,192,0,-1--1--1,,1|(235,-265)|\n1,96,86,85,1,0,0,0,0,192,0,-1--1--1,,1|(262,-210)|\n1,97,87,85,1,0,0,0,0,192,0,-1--1--1,,1|(282,-143)|\n1,98,73,69,1,0,0,0,0,192,0,-1--1--1,,1|(-9,-56)|\n1,99,85,69,1,0,0,0,0,192,0,-1--1--1,,1|(141,-77)|\n1,100,82,69,1,0,0,0,0,192,0,-1--1--1,,1|(138,-172)|\n1,101,79,69,1,0,0,0,0,192,0,-1--1--1,,1|(41,-167)|\n1,102,76,69,1,0,0,0,0,192,0,-1--1--1,,1|(-11,-148)|\n10,103,Hybrid Risk Level,520,359,55,55,2,3,0,0,-1,0,0,0,0,0,0,0,0,0\n1,104,38,103,1,0,0,0,0,192,0,-1--1--1,,1|(448,432)|\n1,105,38,42,1,0,0,0,0,192,0,-1--1--1,,1|(199,338)|\n10,106,Social Media Level of Threats,588,247,57,57,2,3,0,0,-1,0,0,0,0,0,0,0,0,0\n10,107,Proxy Level of Threats,675,398,60,60,2,3,0,0,-1,0,0,0,0,0,0,0,0,0\n10,108,Disinfromation Campaign Level of Threats,523,545,86,86,2,3,0,0,-1,0,0,0,0,0,0,0,0,0\n10,109,Social Media Probability,665,122,75,30,8,3,0,0,-1,0,0,0,0,0,0,0,0,0\n10,110,Proxy Probability,723,279,75,30,8,3,0,0,-1,0,0,0,0,0,0,0,0,0\n10,111,Disinfromation Campaign Probability,717,606,75,30,8,3,0,0,-1,0,0,0,0,0,0,0,0,0\n10,112,Social Media Severity,717,184,75,30,8,3,0,0,-1,0,0,0,0,0,0,0,0,0\n10,113,Proxy Severity,741,520,75,30,8,3,0,0,-1,0,0,0,0,0,0,0,0,0\n10,114,Disinfromation Campaign Severity,644,689,75,30,8,3,0,0,-1,0,0,0,0,0,0,0,0,0\n1,115,109,106,1,0,0,0,0,192,0,-1--1--1,,1|(602,165)|\n1,116,112,106,1,0,0,0,0,192,0,-1--1--1,,1|(666,234)|\n1,117,110,107,1,0,0,0,0,192,0,-1--1--1,,1|(681,322)|\n1,118,113,107,1,0,0,0,0,192,0,-1--1--1,,1|(705,477)|\n1,119,111,108,1,0,0,0,0,192,0,-1--1--1,,1|(635,549)|\n1,120,114,108,1,0,0,0,0,192,0,-1--1--1,,1|(560,639)|\n1,121,108,103,1,0,0,0,0,192,0,-1--1--1,,1|(503,433)|\n1,122,107,103,1,0,0,0,0,192,0,-1--1--1,,1|(587,403)|\n1,123,106,103,1,0,0,0,0,192,0,-1--1--1,,1|(535,301)|\n10,124,National Sea Threat Risk,302,312,64,64,2,3,0,0,-1,0,0,0,0,0,0,0,0,0\n1,125,31,124,1,0,0,0,0,192,0,-1--1--1,,1|(169,371)|\n1,126,42,124,1,0,0,0,0,192,0,-1--1--1,,1|(242,212)|\n1,127,103,124,1,0,0,0,0,192,0,-1--1--1,,1|(419,354)|\n10,128,Number of Hybrid Threats,458,209,75,30,8,3,0,0,-1,0,0,0,0,0,0,0,0,0\n1,129,128,103,1,0,0,0,0,192,0,-1--1--1,,1|(463,269)|\n\\\\\\---/// Sketch information - do not modify anything except names\nV300  Do not put anything below this section - it will be ignored\n', 'Naval Strength\n$-1--1--1,0,|12||-1--1--1|-1--1--1|-1--1--1|-1--1--1|-1--1--1|96,96,110,0\n10,1,Combat Vehicle Score,522,426,75,30,8,3,0,0,-1,0,0,0,0,0,0,0,0,0\n10,2,Marine Ability Score,241,251,75,30,8,3,0,0,-1,0,0,0,0,0,0,0,0,0\n10,3,Marine Forces Strength,404,318,58,58,2,3,0,0,-1,0,0,0,0,0,0,0,0,0\n1,4,2,3,1,0,0,0,0,192,0,-1--1--1,,1|(332,257)|\n10,5,Aircraft Strength,473,105,55,55,2,3,0,0,-1,0,0,0,0,0,0,0,0,0\n10,6,Warships Strength,840,205,55,55,2,3,0,0,-1,0,0,0,0,0,0,0,0,0\n10,7,Naval Strength,626,249,59,59,2,3,0,0,-1,0,0,0,0,0,0,0,0,0\n1,8,5,7,1,0,0,0,0,192,0,-1--1--1,,1|(577,153)|\n1,9,3,7,1,0,0,0,0,192,0,-1--1--1,,1|(500,268)|\n1,10,6,7,1,0,0,0,0,192,0,-1--1--1,,1|(748,248)|\n10,11,Fighters Aircraft Score,329,49,75,30,8,3,0,0,-1,0,0,0,0,0,0,0,0,0\n10,12,Enablers Aircraft,328,173,75,30,8,3,0,0,-1,0,0,0,0,0,0,0,0,0\n1,13,11,5,1,0,0,0,0,192,0,-1--1--1,,1|(404,54)|\n1,14,12,5,1,0,0,0,0,192,0,-1--1--1,,1|(398,169)|\n1,15,1,3,1,0,0,0,0,192,0,-1--1--1,,1|(496,380)|\n10,16,Marine Personel Forces,275,406,75,30,8,3,0,0,-1,0,0,0,0,0,0,0,0,0\n1,17,16,3,1,0,0,0,0,192,0,-1--1--1,,1|(311,368)|\n10,18,Harbour,787,374,49,49,2,3,0,0,-1,0,0,0,0,0,0,0,0,0\n1,19,18,7,1,0,0,0,0,192,0,-1--1--1,,1|(697,334)|\n10,20,Rest,950,322,43,23,8,3,0,0,-1,0,0,0,0,0,0,0,0,0\n10,21,Replenishment,976,398,62,23,8,3,0,0,-1,0,0,0,0,0,0,0,0,0\n10,22,Repair,819,495,43,23,8,3,0,0,-1,0,0,0,0,0,0,0,0,0\n10,23,Recreation,937,457,49,23,8,3,0,0,-1,0,0,0,0,0,0,0,0,0\n10,24,Refuel,676,486,43,23,8,3,0,0,-1,0,0,0,0,0,0,0,0,0\n1,25,24,18,1,0,0,0,0,192,0,-1--1--1,,1|(708,435)|\n1,26,23,18,1,0,0,0,0,192,0,-1--1--1,,1|(871,443)|\n1,27,22,18,1,0,0,0,0,192,0,-1--1--1,,1|(788,439)|\n1,28,21,18,1,0,0,0,0,192,0,-1--1--1,,1|(876,397)|\n1,29,20,18,1,0,0,0,0,192,0,-1--1--1,,1|(888,356)|\n10,30,Striking,940,88,43,23,8,3,0,0,-1,0,0,0,0,0,0,0,0,0\n10,31,Patroling,1025,168,49,23,8,3,0,0,-1,0,0,0,0,0,0,0,0,0\n10,32,Supporting,1019,260,49,23,8,3,0,0,-1,0,0,0,0,0,0,0,0,0\n1,33,30,6,1,0,0,0,0,192,0,-1--1--1,,1|(880,123)|\n1,34,31,6,1,0,0,0,0,192,0,-1--1--1,,1|(942,172)|\n1,35,32,6,1,0,0,0,0,192,0,-1--1--1,,1|(931,247)|\n10,36,Modernization and Acquisition of Warships,784,56,69,26,8,3,0,4,-1,0,0,0,-1--1--1,182-233-184,|||0-0-0,0,0,0,0,0,0\n1,37,36,6,1,0,0,0,0,192,0,-1--1--1,,1|(783,111)|\n10,38,Time,721,174,29,10,8,2,0,3,-1,0,0,0,128-128-128,0-0-0,|||0-0-0,0,0,0,0,0,0\n1,39,38,36,1,0,0,0,0,192,0,-1--1--1,,1|(725,133)|\n\\\\\\---/// Sketch information - do not modify anything except names\nV300  Do not put anything below this section - it will be ignored\n', 'Naval Deployment\n$-1--1--1,0,|12||-1--1--1|-1--1--1|-1--1--1|-1--1--1|-1--1--1|96,96,100,0\n10,1,Naval Deployment,545,272,61,61,2,3,0,0,-1,0,0,0,0,0,0,0,0,0\n10,2,Unit Deploy,378,337,75,30,8,3,0,0,-1,0,0,0,0,0,0,0,0,0\n10,3,Grouped Deploy,546,112,75,30,8,3,0,0,-1,0,0,0,0,0,0,0,0,0\n10,4,Combined Deploy,767,330,75,30,8,3,0,0,-1,0,0,0,0,0,0,0,0,0\n1,5,2,1,1,0,0,0,0,192,0,-1--1--1,,1|(437,285)|\n1,6,3,1,1,0,0,0,0,192,0,-1--1--1,,1|(568,156)|\n1,7,4,1,1,0,0,0,0,192,0,-1--1--1,,1|(662,335)|\n\\\\\\---/// Sketch information - do not modify anything except names\nV300  Do not put anything below this section - it will be ignored\n', 'Naval Capabilities\n$-1--1--1,0,|12||-1--1--1|-1--1--1|-1--1--1|-1--1--1|-1--1--1|96,96,100,0\n10,1,Naval Capabilities,625,223,56,56,2,3,0,0,-1,0,0,0,0,0,0,0,0,0\n10,2,Support Capabilities,438,207,75,30,8,3,0,0,-1,0,0,0,0,0,0,0,0,0\n10,3,Regional Empowerment Capabilities,529,87,75,30,8,3,0,0,-1,0,0,0,0,0,0,0,0,0\n10,4,Intelligence Ability,708,72,75,30,8,3,0,0,-1,0,0,0,0,0,0,0,0,0\n10,5,Diplomacy Ability,816,175,52,52,2,3,0,0,-1,0,0,0,0,0,0,0,0,0\n10,6,Defense Capability,512,332,49,49,2,3,0,0,-1,0,0,0,0,0,0,0,0,0\n1,7,2,1,1,0,0,0,0,192,0,-1--1--1,,1|(522,247)|\n1,8,3,1,1,0,0,0,0,192,0,-1--1--1,,1|(546,151)|\n1,9,4,1,1,0,0,0,0,192,0,-1--1--1,,1|(653,119)|\n1,10,5,1,1,0,0,0,0,192,0,-1--1--1,,1|(719,181)|\n1,11,6,1,1,0,0,0,0,192,0,-1--1--1,,1|(597,309)|\n10,12,Diplomatic Network,1019,94,75,30,8,3,0,0,-1,0,0,0,0,0,0,0,0,0\n10,13,Multilateral Power,996,170,75,30,8,3,0,0,-1,0,0,0,0,0,0,0,0,0\n10,14,Foreign Policy,999,258,75,30,8,3,0,0,-1,0,0,0,0,0,0,0,0,0\n1,15,12,5,1,0,0,0,0,192,0,-1--1--1,,1|(889,108)|\n1,16,13,5,0,0,0,0,0,192,0,-1--1--1,,1|(0,0)|\n1,17,14,5,1,0,0,0,0,192,0,-1--1--1,,1|(885,234)|\n10,18,National Defense and Security Infrastructure,740,354,69,34,8,2,0,3,-1,0,0,0,128-128-128,0-0-0,|||0-0-0,0,0,0,0,0,0\n1,19,18,1,1,0,0,0,0,192,0,-1--1--1,,1|(689,270)|\n10,20,Global Defense Partnership,346,336,51,26,8,3,0,4,-1,0,0,0,-1--1--1,182-233-184,|||0-0-0,0,0,0,0,0,0\n1,21,20,6,1,0,0,0,0,192,0,-1--1--1,,1|(415,350)|\n10,22,Time,452,416,29,10,8,2,0,3,-1,0,0,0,128-128-128,0-0-0,|||0-0-0,0,0,0,0,0,0\n1,23,22,20,1,0,0,0,0,192,0,-1--1--1,,1|(384,395)|\n\\\\\\---/// Sketch information - do not modify anything except names\nV300  Do not put anything below this section - it will be ignored\n', 'Naval Defense Posture\n$-1--1--1,0,|12||-1--1--1|-1--1--1|-1--1--1|-1--1--1|-1--1--1|96,96,100,0\n10,1,Naval Defense Posture,98,383,59,59,2,3,0,2,-1,0,0,0,0-0-0,0-0-0,|||0-0-0,0,0,0,0,0,0\n10,2,Naval Strength,-19,457,75,30,8,2,0,3,-1,0,0,0,128-128-128,0-0-0,|||0-0-0,0,0,0,0,0,0\n10,3,Naval Capabilities,-11,250,75,30,8,2,0,3,-1,0,0,0,128-128-128,0-0-0,|||0-0-0,0,0,0,0,0,0\n1,4,3,1,1,0,0,0,0,192,0,-1--1--1,,1|(77,272)|\n1,5,2,1,1,0,0,0,0,192,0,-1--1--1,,1|(0,402)|\n10,6,Naval Deployment,264,455,75,30,8,2,0,3,-1,0,0,0,128-128-128,0-0-0,|||0-0-0,0,0,0,0,0,0\n1,7,6,1,1,0,0,0,0,192,0,-1--1--1,,1|(164,461)|\n10,8,North Natuna Defense and Security,364,265,55,22,3,3,0,0,-1,0,0,0,0,0,0,0,0,0\n12,9,48,161,265,10,8,0,3,0,0,-1,0,0,0,0,0,0,0,0,0\n1,10,12,9,100,0,0,22,0,192,0,-1--1--1,,1|(201,265)|\n1,11,12,8,4,0,0,22,0,192,0,-1--1--1,,1|(276,265)|\n11,12,0,238,265,6,8,34,3,0,0,3,0,0,0,0,0,0,0,0,0\n10,13,Defense Score,238,227,75,30,40,3,0,0,-1,0,0,0,0,0,0,0,0,0\n12,14,48,577,265,10,8,0,3,0,0,-1,0,0,0,0,0,0,0,0,0\n1,15,17,8,100,0,0,22,0,192,0,-1--1--1,,1|(453,265)|\n1,16,17,14,4,0,0,22,0,192,0,-1--1--1,,1|(533,265)|\n11,17,0,493,265,6,8,34,3,0,0,3,0,0,0,0,0,0,0,0,0\n10,18,Level of Threat,493,227,75,30,40,3,0,0,-1,0,0,0,0,0,0,0,0,0\n1,19,1,12,1,0,0,0,0,192,0,-1--1--1,,1|(207,339)|\n10,20,National Sea Threat Risk,626,406,75,30,8,2,0,34,-1,0,0,0,-1--1--1,-1--1--1,Courier|||0-0-0,0,0,0,0,0,0\n1,21,8,12,1,0,0,0,0,192,0,-1--1--1,,1|(333,314)|\n1,22,8,18,1,0,0,0,0,192,0,-1--1--1,,1|(425,323)|\n1,23,20,18,1,0,0,0,0,192,0,-1--1--1,,1|(541,358)|\n10,24,Period of Time,236,129,63,14,8,3,0,0,-1,0,0,0,0,0,0,0,0,0\n1,25,24,13,0,0,0,0,0,192,0,-1--1--1,,1|(0,0)|\n10,26,Period of Time,491,128,79,17,8,2,0,3,-1,0,0,0,128-128-128,0-0-0,|||128-128-128,0,0,0,0,0,0\n1,27,26,18,0,0,0,0,0,192,0,-1--1--1,,1|(0,0)|\n\\\\\\---/// Sketch information - do not modify anything except names\nV300  Do not put anything below this section - it will be ignored\n', 'National Defense\n$-1--1--1,0,|12||-1--1--1|-1--1--1|-1--1--1|-1--1--1|-1--1--1|96,96,89,0\n10,1,National Defense and Security Infrastructure,208,213,67,67,2,3,0,16,-1,0,0,0,0-0-0,0-0-0,||B|0-0-0,0,0,0,0,0,0\n10,2,Defense Budgeting,307,-28,52,52,2,3,0,16,-1,0,0,0,0-0-0,0-0-0,||B|0-0-0,0,0,0,0,0,0\n10,3,Defense and Security Regulation,1,42,55,55,2,3,0,16,-1,0,0,0,0-0-0,-1--1--1,||B|0-0-0,0,0,0,0,0,0\n10,4,Development Program,446,167,58,58,2,3,0,16,-1,0,0,0,0-0-0,0-0-0,||B|0-0-0,0,0,0,0,0,0\n10,5,Priority Program,247,415,59,59,2,3,0,16,-1,0,0,0,0-0-0,0-0-0,||B|0-0-0,0,0,0,0,0,0\n10,6,"State Revenue (Tax)",493,-86,60,22,8,3,0,0,-1,0,0,0,0,0,0,0,0,0\n10,7,Economic Factors,45,159,42,22,8,3,0,0,-1,0,0,0,0,0,0,0,0,0\n10,8,Public Opinion and Ethics,-63,138,51,26,8,3,0,0,-1,0,0,0,0,0,0,0,0,0\n10,9,Legal Framework,-127,75,42,22,8,3,0,0,-1,0,0,0,0,0,0,0,0,0\n10,10,Technological Advances,-160,20,60,22,8,3,0,0,-1,0,0,0,0,0,0,0,0,0\n10,11,International relations,-137,-32,60,22,8,3,0,0,-1,0,0,0,0,0,0,0,0,0\n10,12,Military and Intelligent Agencies,-32,-93,56,26,8,3,0,0,-1,0,0,0,0,0,0,0,0,0\n10,13,Threat Assesment,105,-60,42,22,8,3,0,0,-1,0,0,0,0,0,0,0,0,0\n10,14,National Security Strategy,171,-12,77,18,8,3,0,0,-1,0,0,0,0,0,0,0,0,0\n10,15,Cybersecurity,161,34,60,22,8,3,0,0,-1,0,0,0,0,0,0,0,0,0\n10,16,Emergency preparedness,141,97,56,22,8,3,0,0,-1,0,0,0,0,0,0,0,0,0\n1,17,7,3,1,0,0,0,0,192,0,-1--1--1,,1|(1,125)|\n1,18,8,3,1,0,0,0,0,192,0,-1--1--1,,1|(-58,95)|\n1,19,9,3,1,0,0,0,0,192,0,-1--1--1,,1|(-85,48)|\n1,20,10,3,1,0,0,0,0,192,0,-1--1--1,,1|(-78,11)|\n1,21,11,3,1,0,0,0,0,192,0,-1--1--1,,1|(-48,-29)|\n1,22,12,3,1,0,0,0,0,192,0,-1--1--1,,1|(-8,-49)|\n1,23,13,3,1,0,0,0,0,192,0,-1--1--1,,1|(39,-36)|\n1,24,14,3,1,0,0,0,0,192,0,-1--1--1,,1|(69,-13)|\n1,25,15,3,1,0,0,0,0,192,0,-1--1--1,,1|(80,20)|\n1,26,16,3,1,0,0,0,0,192,0,-1--1--1,,1|(88,57)|\n1,27,3,1,1,0,0,0,0,192,0,-1--1--1,,1|(82,132)|\n1,28,2,1,1,0,0,0,0,192,0,-1--1--1,,1|(235,57)|\n1,29,4,1,1,0,0,0,0,192,0,-1--1--1,,1|(341,220)|\n1,30,5,1,1,0,0,0,0,192,0,-1--1--1,,1|(259,343)|\n10,31,Impact of Technological Innovation,658,95,99,24,8,3,0,0,-1,0,0,0,0,0,0,0,0,0\n10,32,Impact of Manufacturing Improvement,666,167,102,24,8,3,0,0,-1,0,0,0,0,0,0,0,0,0\n10,33,Impact of Naval Human Resources,657,247,94,23,8,3,0,0,-1,0,0,0,0,0,0,0,0,0\n1,34,31,4,1,0,0,0,0,192,0,-1--1--1,,1|(513,108)|\n1,35,32,4,0,0,0,0,0,192,0,-1--1--1,,1|(0,0)|\n1,36,33,4,1,0,0,0,0,192,0,-1--1--1,,1|(524,226)|\n10,37,Impact of Missiles,75,302,51,51,2,3,0,0,-1,0,0,0,0,0,0,0,0,0\n10,38,Impact of Propellant Industry,39,423,47,47,2,3,0,0,-1,0,0,0,0,0,0,0,0,0\n10,39,Impact of Submarine,120,518,48,48,2,3,0,0,-1,0,0,0,0,0,0,0,0,0\n10,40,Impact of National Radar,262,603,52,52,2,3,0,0,-1,0,0,0,0,0,0,0,0,0\n10,41,Impact of Medium Tanks,383,535,50,50,2,3,0,0,-1,0,0,0,0,0,0,0,0,0\n10,42,Impact of Fighter Jet,496,465,51,51,2,3,0,0,-1,0,0,0,0,0,0,0,0,0\n10,43,Impact of Rocket Development,455,337,51,51,2,3,0,0,-1,0,0,0,0,0,0,0,0,0\n10,44,Performance Efficiency of Missiles,-87,239,60,26,8,3,0,0,-1,0,0,0,0,0,0,0,0,0\n10,45,Availability of Missiles,-97,293,56,22,8,3,0,0,-1,0,0,0,0,0,0,0,0,0\n10,46,Quality Rate of Missiles,-106,341,56,22,8,3,0,0,-1,0,0,0,0,0,0,0,0,0\n1,47,44,37,1,0,0,0,0,192,0,-1--1--1,,1|(8,247)|\n1,48,45,37,1,0,0,0,0,192,0,-1--1--1,,1|(-18,295)|\n1,49,46,37,1,0,0,0,0,192,0,-1--1--1,,1|(-9,339)|\n1,50,37,5,1,0,0,0,0,192,0,-1--1--1,,1|(174,347)|\n1,51,38,5,1,0,0,0,0,192,0,-1--1--1,,1|(114,415)|\n1,52,39,5,1,0,0,0,0,192,0,-1--1--1,,1|(179,488)|\n1,53,40,5,1,0,0,0,0,192,0,-1--1--1,,1|(285,525)|\n1,54,41,5,1,0,0,0,0,192,0,-1--1--1,,1|(338,468)|\n1,55,42,5,1,0,0,0,0,192,0,-1--1--1,,1|(389,416)|\n1,56,43,5,1,0,0,0,0,192,0,-1--1--1,,1|(323,362)|\n10,57,Availability of Propellant Industry,-128,394,84,28,8,3,0,0,-1,0,0,0,0,0,0,0,0,0\n10,58,Quality Rate of Propellant Industry,-141,445,85,24,8,3,0,0,-1,0,0,0,0,0,0,0,0,0\n10,59,Performance Efficiency of Propellant Industry,-132,498,97,29,8,3,0,0,-1,0,0,0,0,0,0,0,0,0\n10,60,Availability of Submarine,-57,552,56,22,8,3,0,0,-1,0,0,0,0,0,0,0,0,0\n10,61,Performance Efficiency of Submarine,-28,595,60,26,8

     sfd_id  variable_id  model_id
0       341        13052        97
1       341        13054        97
2       341        13063        97
3       341        13048        97
4       341        13072        97
..      ...          ...       ...
219     348        12878        97
220     348        12890        97
221     348        12886        97
222     348        12874        97
223     348        12879        97

[224 rows x 3 columns]

In [30]:
data_sfd = pd.read_json(json.dumps(get_sfd(file_name, model_id)))
data_sfd

,sfd_name,variable,model_id
0,Natuna Sea Threats,Hijacking Level of Threats,97
1,Natuna Sea Threats,Illegal Fishing Level of Threats,97
2,Natuna Sea Threats,Natural Disasters Level of Threats,97
3,Natuna Sea Threats,Drugs Shipping Level of Threats,97
4,Natuna Sea Threats,Smuggling Level of Threats,97
...,...,...,...
222,Economic Value,Amount of Natural Gas Discovered in the BLock,97
223,Economic Value,Potential Value of Natural Gas,97
224,Economic Value,Potential Value of Oil Reserves,97
225,Economic Value,Natural Gas Prices,97
226,Economic Value,Oil Prices,97

In [31]:
query = f"INSERT INTO variables (name, value, level, unit,  model_id) VALUES {', '.join([str(tuple(row)) for row in data.values])}"
query

try:
    connection = mysql.connector.connect(
        host="db-natuna.ctmogcuxclxn.ap-southeast-1.rds.amazonaws.com",
        user="admin",
        passwd="cujwiq-suqhu2-bycpuB",
        database="web-app-dev"
    )
    cursor = connection.cursor()
    cursor.execute(query)
    connection.commit()
    connection.close()
    print('success')
except Exception as e:
    print('error')
    print(str(e))
    connection.close()
    print('error')

success

In [14]:
# Open the .mdl file in read mode
with open(file_name, 'r', encoding='utf-8') as file:
    # Read the content of the file
    mdl_content = file.read()

In [15]:
# # read view variables
# mdl_content.split('VIEW-Naval Strength')[1].split('\n')

IndexError: list index out of range

# Generate Model