In [126]:
file_name = '../../storage/app/uploads/uGAY4nnaxlVNY467IvfS4GOL1CTfbv13IP4axaT5.bin'

In [118]:
import mysql.connector
import os
import pandas as pd


# HOST = 

# Connect to the database
connection = mysql.connector.connect(
    host="db-natuna.ctmogcuxclxn.ap-southeast-1.rds.amazonaws.com",
    user="admin",
    passwd="cujwiq-suqhu2-bycpuB",
    database="web-app"
)

# Create a cursor
cursor = connection.cursor()

# Execute a query
cursor.execute("SELECT * FROM models")

# Fetch the results
results = cursor.fetchall()

# Print the results
for result in results:
    print(result)
    
# Close the connection
connection.close()

def execute_query(query):
    connection = mysql.connector.connect(
        host="db-natuna.ctmogcuxclxn.ap-southeast-1.rds.amazonaws.com",
        user="admin",
        passwd="cujwiq-suqhu2-bycpuB",
        database="web-app"
    )
    cursor = connection.cursor()
    cursor.execute(query)
    results = cursor.fetchall()
    connection.close()
    return results

(1, 'hankam', 'model hankam', '', 0, datetime.datetime(2024, 6, 23, 2, 30, 59), datetime.datetime(2024, 8, 3, 6, 5, 34), None)
(2, 'Model', 'k kb', 'uploads/cVAfVdp8aKiEyFMFuedSMGkcWZ6txkspfLt7LnXu.txt', 0, datetime.datetime(2024, 7, 3, 14, 56, 2), datetime.datetime(2024, 8, 3, 5, 49, 4), None)
(3, 'Model 2', 'Model 2', 'uploads/bSNnVxitl8HvD3VcAXyR3ek6jfiJveGJgFO4EXoL.txt', 0, datetime.datetime(2024, 7, 3, 15, 12, 41), datetime.datetime(2024, 8, 3, 5, 49, 4), None)
(4, 'MODEL', '', None, 0, datetime.datetime(2024, 7, 4, 11, 19, 26), datetime.datetime(2024, 7, 4, 11, 19, 26), None)
(5, 'asd', 'asda', 'uploads/nujT70ak7rLU5k8IpwbBBYHh3KNugKMzcLMcim0Z.bin', 0, datetime.datetime(2024, 7, 4, 11, 28, 35), datetime.datetime(2024, 8, 3, 5, 49, 4), None)
(6, 'tes 1', 'tes 1tes 1', 'uploads/25oe2FGbrIIIwtelNJicj23q5Ue94ENNzdNkoM6V.txt', 0, datetime.datetime(2024, 8, 3, 1, 55, 58), datetime.datetime(2024, 8, 3, 5, 49, 4), 'imageModels/q8wMrm0gz7Sk9I1am4B5BWBf7zivp5g520uyeJ3m.png')
(7, 'MODEL TEST', 'abc', 'uploads/iFq50WI6b5SMc9eNpy4AhAlWSzAwo2OMz5tPUwFu.bin', 0, datetime.datetime(2024, 8, 3, 5, 44, 3), datetime.datetime(2024, 8, 3, 5, 49, 4), None)
(8, 'MODEL TEST', 'abc', 'uploads/IVsnzqroGDCNlyvIcWIIRTe2g29nw3qvYAjfaOoj.bin', 0, datetime.datetime(2024, 8, 3, 5, 45, 29), datetime.datetime(2024, 8, 3, 5, 49, 4), None)
(9, 'MODEL TEST', 'abc', 'uploads/uGAY4nnaxlVNY467IvfS4GOL1CTfbv13IP4axaT5.bin', 0, datetime.datetime(2024, 8, 3, 5, 49, 3), datetime.datetime(2024, 8, 3, 6, 3, 19), None)
(10, 'TESTTT', 'abc', 'uploads/SpTPDgK8gX7oEifstkAj1ekdpiI41Mi930uBbHoO.bin', 1, datetime.datetime(2024, 8, 3, 6, 5, 34), datetime.datetime(2024, 8, 3, 6, 5, 34), None)

In [14]:
import pandas as pd
import json
import pyodbc
pyodbc.drivers()

['ODBC Driver 17 for SQL Server',
 'ODBC Driver 18 for SQL Server',
 'MySQL-NATUNA',
 'ODBC Drivers',
 'ODBC Connection Pooling']

# Read Model

In [13]:
import json
import pandas as pd

In [14]:
file_name = 'model.mdl'
# file_name = 'Most Likely.mdl'

In [117]:
content_splitter

'********************************************************'

In [127]:
def load_model(file_name, model_id):
    # Open the .mdl file in read mode
    with open(file_name, 'r', encoding='utf-8') as file:
        # Read the content of the file
        mdl_content = file.read()
    # Split the content of the file by the newline character


    mdl_content = mdl_content.split('********************************************************')[0].replace('{UTF-8}', '\n').replace('\n','').replace('\t', '')
    variables = mdl_content.split('|')
    
    result = []
    for item in variables[:-1]:
        result.append(item.split('\t'))
        
    
    final = []
    for item in result:
        item = item[0]
        temp = {}
        try:
            # print(item)
            temp_list = item.split('~')        
            # print(temp_list)
            
            # temp_list = temp_list[1].split('~')
            temp['name'] = temp_list[0].split('=')[0]
            # print(len(temp_list[0].split('=')[0]))
            temp['value'] = '='.join(temp_list[0].split('=')[1:]).strip()
            temp['level'] = temp_list[-2]
            temp['unit'] = temp_list[-1]
            
            # temp_list = temp_list[0].split('=')[0]
            
        except Exception as e:
            print('error')
            print(str(e))
            print(item)
            break
        final.append(temp)
    
    df = pd.read_json(json.dumps(final))
    df = df.fillna('NULL')
    df = df.replace('', 'NULL')
    df['model_id'] = model_id
    
    return df

In [128]:
model_id = 1
data = load_model(file_name, model_id)
data

,name,value,level,unit,model_id
0,Level of Threat,National Sea Threat Risk/North Natuna Defense ...,NULL,NULL,1
1,Defense Score,Naval Defense Posture/North Natuna Defense and...,NULL,NULL,1
2,Foreign Policy,"(RANDOM UNIFORM( 1 , 5 , 1 ))*20",NULL,NULL,1
3,Misuses of AIS and Positioning Data Probability,"RANDOM UNIFORM( 1 , 5 , 1 )",NULL,NULL,1
4,Combined Deploy,"(RANDOM UNIFORM( 1 , 5 , 1 ))*20",NULL,NULL,1
...,...,...,...,...,...
94,Number of Non Military Threats,6,NULL,NULL,1
95,Social Media Level of Threats,Social Media Probability+Social Media Severity,NULL,NULL,1
96,Risk Level Maximum Score,9,NULL,NULL,1
97,Proxy Level of Threats,Proxy Probability+Proxy Severity,NULL,NULL,1
98,Smuggling Level of Threats,Smuggling Probability+Smuggling Severity,NULL,NULL,1

In [23]:
def load_raw(file_name):
    # Open the .mdl file in read mode
    with open(file_name, 'r', encoding='utf-8') as file:
        # Read the content of the file
        mdl_content = file.read()
    return mdl_content

In [34]:
raw = load_raw(file_name).split('********************************************************')[-1].split('|')[1]
raw

'\n\nFINAL TIME  = 120\n\t~\tMonth\n\t~\tThe final time for the simulation.\n\t'

In [42]:
def get_final_time(model):
    model = load_raw(file_name).split('********************************************************')[-1].split('|')[1]
    model = model.split('\n')
    final_time = 0
    
    for m in model:
        if 'FINAL TIME' in m:
            final_time = m.split('=')[-1].strip()  
    
    # return model
    return int(final_time)

get_final_time(file_name)

120

In [116]:
def get_sfd_name(file_name):
    model = load_raw(file_name).split('********************************************************')[-1].split('*')
    
    # last model modify to split "///---\\\"
    temp =  model[-1].split('///---\\\n')[0]
    
    #change the last model to temp
    model[-1] = temp
    number_of_sfd = 0
    sfds = []
    
    for m in model:
        if 'SFD' in m:
            number_of_sfd += 1
            sfd_name = m.split('\n')[0].split('[SFD]')[-1].strip()
            sfds.append(sfd_name)
            
    return sfds
        
get_sfd_name(file_name)

['Naval Strength',
 'Naval Deployment',
 'Naval Capabilities',
 'Naval Defense Posture']

In [112]:
def get_sfd(model, model_id):
    model = load_raw(file_name).split('********************************************************')[-1].split('*')
    
    # last model modify to split "///---\\\"
    temp =  model[-1].split('///---\\\n')[0]
    
    #change the last model to temp
    model[-1] = temp
    number_of_sfd = 0
    all_sfd_variables = []
    
    for m in model:
        if 'SFD' in m:
            number_of_sfd += 1
            sfd_name = m.split('\n')[0].split('[SFD]')[-1].strip()
            sfd_variables = []
            variables = m.split('\n')

            for variable in variables:
                # if startwith 10 get the variable name
                try:
                    if variable.startswith('10'):
                        # print(variable_name)
                        variable_name = variable.split(',')[2].strip()
                        #  if variable not string then skip
                        if not variable_name[0].isalpha():
                            continue
                        sfd_variables.append(variable_name)
                except Exception as e:
                    pass
            
            for variable in sfd_variables:
                all_sfd_variables.append({
                    'sfd_name': sfd_name,
                    'variable': variable.strip(),
                    'model_id': model_id
                })

    return all_sfd_variables

get_sfd(file_name, model_id)

[{'sfd_name': 'Naval Strength',
  'variable': 'Combat Vehicle Score',
  'model_id': 1},
 {'sfd_name': 'Naval Strength',
  'variable': 'Marine Ability Score',
  'model_id': 1},
 {'sfd_name': 'Naval Strength',
  'variable': 'Marine Forces Strength',
  'model_id': 1},
 {'sfd_name': 'Naval Strength',
  'variable': 'Aircraft Strength',
  'model_id': 1},
 {'sfd_name': 'Naval Strength',
  'variable': 'Warships Strength',
  'model_id': 1},
 {'sfd_name': 'Naval Strength', 'variable': 'Naval Strength', 'model_id': 1},
 {'sfd_name': 'Naval Strength',
  'variable': 'Fighters Aircraft Score',
  'model_id': 1},
 {'sfd_name': 'Naval Strength',
  'variable': 'Enablers Aircraft',
  'model_id': 1},
 {'sfd_name': 'Naval Strength',
  'variable': 'Marine Personel Forces',
  'model_id': 1},
 {'sfd_name': 'Naval Strength', 'variable': 'Harbour', 'model_id': 1},
 {'sfd_name': 'Naval Strength', 'variable': 'Rest', 'model_id': 1},
 {'sfd_name': 'Naval Strength', 'variable': 'Replenishment', 'model_id': 1},
 {'sfd_name': 'Naval Strength', 'variable': 'Repair', 'model_id': 1},
 {'sfd_name': 'Naval Strength', 'variable': 'Recreation', 'model_id': 1},
 {'sfd_name': 'Naval Strength', 'variable': 'Refuel', 'model_id': 1},
 {'sfd_name': 'Naval Strength', 'variable': 'Striking', 'model_id': 1},
 {'sfd_name': 'Naval Strength', 'variable': 'Patroling', 'model_id': 1},
 {'sfd_name': 'Naval Strength', 'variable': 'Supporting', 'model_id': 1},
 {'sfd_name': 'Naval Deployment',
  'variable': 'Naval Deployment',
  'model_id': 1},
 {'sfd_name': 'Naval Deployment', 'variable': 'Unit Deploy', 'model_id': 1},
 {'sfd_name': 'Naval Deployment', 'variable': 'Grouped Deploy', 'model_id': 1},
 {'sfd_name': 'Naval Deployment',
  'variable': 'Combined Deploy',
  'model_id': 1},
 {'sfd_name': 'Naval Capabilities',
  'variable': 'Naval Capabilities',
  'model_id': 1},
 {'sfd_name': 'Naval Capabilities',
  'variable': 'Support Capabilities',
  'model_id': 1},
 {'sfd_name': 'Naval Capabilities',
  'variable': 'Regional Empowerment Capabilities',
  'model_id': 1},
 {'sfd_name': 'Naval Capabilities',
  'variable': 'Intelligence Ability',
  'model_id': 1},
 {'sfd_name': 'Naval Capabilities',
  'variable': 'Diplomacy Ability',
  'model_id': 1},
 {'sfd_name': 'Naval Capabilities',
  'variable': 'Defense Capability',
  'model_id': 1},
 {'sfd_name': 'Naval Capabilities',
  'variable': 'Diplomatic Network',
  'model_id': 1},
 {'sfd_name': 'Naval Capabilities',
  'variable': 'Multilateral Power',
  'model_id': 1},
 {'sfd_name': 'Naval Capabilities',
  'variable': 'Foreign Policy',
  'model_id': 1},
 {'sfd_name': 'Naval Defense Posture',
  'variable': 'Naval Defense Posture',
  'model_id': 1},
 {'sfd_name': 'Naval Defense Posture',
  'variable': 'Naval Strength',
  'model_id': 1},
 {'sfd_name': 'Naval Defense Posture',
  'variable': 'Naval Capabilities',
  'model_id': 1},
 {'sfd_name': 'Naval Defense Posture',
  'variable': 'Naval Deployment',
  'model_id': 1},
 {'sfd_name': 'Naval Defense Posture',
  'variable': 'North Natuna Defense and Security',
  'model_id': 1},
 {'sfd_name': 'Naval Defense Posture',
  'variable': 'Defense Score',
  'model_id': 1},
 {'sfd_name': 'Naval Defense Posture',
  'variable': 'Level of Threat',
  'model_id': 1},
 {'sfd_name': 'Naval Defense Posture',
  'variable': 'National Sea Threat Risk',
  'model_id': 1}]

In [113]:
data_sfd = pd.read_json(json.dumps(get_sfd(file_name, model_id)))
data_sfd

                 sfd_name                           variable  model_id
0          Naval Strength               Combat Vehicle Score         1
1          Naval Strength               Marine Ability Score         1
2          Naval Strength             Marine Forces Strength         1
3          Naval Strength                  Aircraft Strength         1
4          Naval Strength                  Warships Strength         1
5          Naval Strength                     Naval Strength         1
6          Naval Strength            Fighters Aircraft Score         1
7          Naval Strength                  Enablers Aircraft         1
8          Naval Strength             Marine Personel Forces         1
9          Naval Strength                            Harbour         1
10         Naval Strength                               Rest         1
11         Naval Strength                      Replenishment         1
12         Naval Strength                             Repair         1
13         Naval Strength                         Recreation         1
14         Naval Strength                             Refuel         1
15         Naval Strength                           Striking         1
16         Naval Strength                          Patroling         1
17         Naval Strength                         Supporting         1
18       Naval Deployment                   Naval Deployment         1
19       Naval Deployment                        Unit Deploy         1
20       Naval Deployment                     Grouped Deploy         1
21       Naval Deployment                    Combined Deploy         1
22     Naval Capabilities                 Naval Capabilities         1
23     Naval Capabilities               Support Capabilities         1
24     Naval Capabilities  Regional Empowerment Capabilities         1
25     Naval Capabilities               Intelligence Ability         1
26     Naval Capabilities                  Diplomacy Ability         1
27     Naval Capabilities                 Defense Capability         1
28     Naval Capabilities                 Diplomatic Network         1
29     Naval Capabilities                 Multilateral Power         1
30     Naval Capabilities                     Foreign Policy         1
31  Naval Defense Posture              Naval Defense Posture         1
32  Naval Defense Posture                     Naval Strength         1
33  Naval Defense Posture                 Naval Capabilities         1
34  Naval Defense Posture                   Naval Deployment         1
35  Naval Defense Posture  North Natuna Defense and Security         1
36  Naval Defense Posture                      Defense Score         1
37  Naval Defense Posture                    Level of Threat         1
38  Naval Defense Posture           National Sea Threat Risk         1

In [34]:
query = f"INSERT INTO variables (name, value, level, unit,  model_id) VALUES {', '.join([str(tuple(row)) for row in final_data.values])}"
query

try:
    connection = mysql.connector.connect(
        host="db-natuna.ctmogcuxclxn.ap-southeast-1.rds.amazonaws.com",
        user="admin",
        passwd="cujwiq-suqhu2-bycpuB",
        database="web-app"
    )
    cursor = connection.cursor()
    cursor.execute(query)
    connection.commit()
    connection.close()
    print('success')
except Exception as e:
    print('error')
    print(str(e))
    connection.close()
    print('error')

success

In [39]:
# Open the .mdl file in read mode
with open(file_name, 'r', encoding='utf-8') as file:
    # Read the content of the file
    mdl_content = file.read()

In [41]:
# read view variables
mdl_content.split('VIEW-Naval Strength')[1].split('\n')

['',
 '$-1--1--1,0,|12||-1--1--1|-1--1--1|-1--1--1|-1--1--1|-1--1--1|96,96,121,0',
 '10,1,Number of Combat Vehicle,385,593,60,24,3,3,0,0,-1,0,0,0,0,0,0,0,0,0',
 '10,2,Marine Ability Score,248,185,75,30,8,3,0,0,-1,0,0,0,0,0,0,0,0,0',
 '10,3,Marine Forces Strength,385,293,58,58,2,3,0,20,-1,0,0,0,0-0-0,176-255-176,||B|0-0-0,0,0,0,0,0,0',
 '1,4,2,3,1,0,0,0,0,192,0,-1--1--1,,1|(342,215)|',
 '10,5,Aircraft Strength,518,49,55,55,2,3,0,20,-1,0,0,0,0-0-0,176-255-176,||B|0-0-0,0,0,0,0,0,0',
 '10,6,Warships Strength,1002,269,55,55,2,3,0,20,-1,0,0,0,0-0-0,176-255-176,||B|0-0-0,0,0,0,0,0,0',
 '10,7,Fighters Aircraft Score,348,-68,56,56,2,3,0,0,-1,0,0,0,0,0,0,0,0,0',
 '10,8,Enablers Aircraft,347,123,75,30,8,3,0,0,-1,0,0,0,0,0,0,0,0,0',
 '1,9,7,5,1,0,0,0,0,192,0,-1--1--1,,1|(428,-55)|',
 '1,10,8,5,1,0,0,0,0,192,0,-1--1--1,,1|(445,118)|',
 '10,11,Marine Personel Forces,-71,403,75,30,3,3,0,0,-1,0,0,0,0,0,0,0,0,0',
 '10,12,Harbour,736,362,49,49,2,3,0,20,-1,0,0,0,0-0-0,176-255-176,||B|0-0-0,0,0,0,0,0,0',
 '10,13,Rest,591,377,43,23,8,3,0,0,-1,0,0,0,0,0,0,0,0,0',
 '10,14,Replenishment,868,430,62,23,8,3,0,0,-1,0,0,0,0,0,0,0,0,0',
 '10,15,Repair,653,447,43,23,8,3,0,0,-1,0,0,0,0,0,0,0,0,0',
 '10,16,Recreation,757,477,49,23,8,3,0,0,-1,0,0,0,0,0,0,0,0,0',
 '10,17,Refuel,592,316,43,23,8,3,0,0,-1,0,0,0,0,0,0,0,0,0',
 '1,18,17,12,1,0,0,0,0,192,0,-1--1--1,,1|(665,309)|',
 '1,19,16,12,1,0,0,0,0,192,0,-1--1--1,,1|(730,432)|',
 '1,20,15,12,1,0,0,0,0,192,0,-1--1--1,,1|(672,404)|',
 '1,21,14,12,1,0,0,0,0,192,0,-1--1--1,,1|(780,407)|',
 '1,22,13,12,1,0,0,0,0,192,0,-1--1--1,,1|(649,354)|',
 '10,23,Striking Score,1306,175,56,56,2,3,0,0,-1,0,0,0,0,0,0,0,0,0',
 '10,24,Patrolling Score,856,132,57,57,2,3,0,0,-1,0,0,0,0,0,0,0,0,0',
 '10,25,Supporting Score,1084,102,55,55,2,3,0,0,-1,0,0,0,0,0,0,0,0,0',
 '1,26,23,6,1,0,0,0,0,192,0,-1--1--1,,1|(1249,232)|',
 '1,27,24,6,1,0,0,0,0,192,0,-1--1--1,,1|(942,176)|',
 '1,28,25,6,1,0,0,0,0,192,0,-1--1--1,,1|(1082,174)|',
 '10,29,Naval Strength,618,214,56,56,2,3,0,20,-1,0,0,0,0-0-0,176-255-176,||B|0-0-0,0,0,0,0,0,0',
 '1,30,3,29,1,0,0,0,0,192,0,-1--1--1,,1|(489,236)|',
 '1,31,5,29,1,0,0,0,0,192,0,-1--1--1,,1|(574,82)|',
 '1,32,6,29,1,0,0,0,0,192,0,-1--1--1,,1|(803,213)|',
 '1,33,12,29,1,0,0,0,0,192,0,-1--1--1,,1|(736,285)|',
 '12,34,48,-298,402,10,8,0,3,0,0,-1,0,0,0,0,0,0,0,0,0',
 '1,35,37,34,100,0,0,22,0,192,0,-1--1--1,,1|(-260,402)|',
 '1,36,37,11,4,0,0,22,0,192,0,-1--1--1,,1|(-183,402)|',
 '11,37,0,-226,402,6,8,34,3,0,0,1,0,0,0,0,0,0,0,0,0',
 '10,38,Increase Marine Personel,-226,435,43,25,40,3,0,0,-1,0,0,0,0,0,0,0,0,0',
 '12,39,48,185,403,10,8,0,3,0,0,-1,0,0,0,0,0,0,0,0,0',
 '1,40,42,11,100,0,0,22,0,192,0,-1--1--1,,1|(41,403)|',
 '1,41,42,39,4,0,0,22,0,192,0,-1--1--1,,1|(133,403)|',
 '11,42,0,85,403,6,8,34,3,0,0,1,0,0,0,0,0,0,0,0,0',
 '10,43,Retired Marine Personel,85,436,43,25,40,3,0,0,-1,0,0,0,0,0,0,0,0,0',
 '1,44,11,42,1,0,0,0,0,192,0,-1--1--1,,1|(45,363)|',
 '10,45,Recruit,-237,522,43,23,8,3,0,0,-1,0,0,0,0,0,0,0,0,0',
 '10,46,Works Span,110,529,49,23,8,3,0,0,-1,0,0,0,0,0,0,0,0,0',
 '1,47,45,38,0,0,0,0,0,192,0,-1--1--1,,1|(0,0)|',
 '1,48,46,43,0,0,0,0,0,192,0,-1--1--1,,1|(0,0)|',
 '10,49,Optimal Marine Personel,-18,265,43,25,8,3,0,0,-1,0,0,0,0,0,0,0,0,0',
 '10,50,Marine Personel Score,182,274,52,52,2,3,0,0,-1,0,0,0,0,0,0,0,0,0',
 '1,51,49,50,1,0,0,0,0,192,0,-1--1--1,,1|(67,251)|',
 '1,52,11,50,1,0,0,0,0,192,0,-1--1--1,,1|(-14,338)|',
 '1,53,50,3,1,0,0,0,0,192,0,-1--1--1,,1|(286,264)|',
 '12,54,48,180,591,10,8,0,3,0,0,-1,0,0,0,0,0,0,0,0,0',
 '1,55,57,54,100,0,0,22,0,192,0,-1--1--1,,1|(220,591)|',
 '1,56,57,1,4,0,0,22,0,192,0,-1--1--1,,1|(294,591)|',
 '11,57,0,257,591,6,8,34,3,0,0,1,0,0,0,0,0,0,0,0,0',
 '10,58,Combat Vehicle Increase,257,624,43,25,40,3,0,0,-1,0,0,0,0,0,0,0,0,0',
 '10,59,Combat Vehicle Purchase,198,728,43,25,8,3,0,0,-1,0,0,0,0,0,0,0,0,0',
 '10,60,Optimal Combat Vehicle,635,535,43,25,8,3,0,0,-1,0,0,0,0,0,0,0,0,0',
 '10,61,Combat Vehicle Score,491,424,54,54,2,3,0,0,-1,0,0,0,0,0,0,0,0,0',
 '1,62,60,61,1,0,0,0,0,192,0,-1--1--1,,1|(579,465)|',
 '1,63,61,3,1,0,0,0,0,192,0,-1--1--1,,1|(463,356)|',
 '1,64,1,61,1,0,0,0,0,192,0,-1--1--1,,1|(391,526)|',
 '1,65,59,58,1,0,0,0,0,192,0,-1--1--1,,1|(208,686)|',
 '10,66,Optimal Fighters Number,419,-217,43,25,8,3,0,0,-1,0,0,0,0,0,0,0,0,0',
 '12,67,48,616,593,10,8,0,3,0,0,-1,0,0,0,0,0,0,0,0,0',
 '1,68,70,1,100,0,0,22,0,192,0,-1--1--1,,1|(482,593)|',
 '1,69,70,67,4,0,0,22,0,192,0,-1--1--1,,1|(568,593)|',
 '11,70,0,525,593,6,8,34,3,0,0,1,0,0,0,0,0,0,0,0,0',
 '10,71,Combat Vehicle Stop Operating,525,626,58,25,40,3,0,0,-1,0,0,0,0,0,0,0,0,0',
 '10,72,Combat Vehicle Operating Duration,577,735,58,25,8,3,0,0,-1,0,0,0,0,0,0,0,0,0',
 '1,73,72,71,1,0,0,0,0,192,0,-1--1--1,,1|(563,683)|',
 '10,74,Number of Fighters,125,-87,60,24,3,3,0,0,-1,0,0,0,0,0,0,0,0,0',
 '12,75,48,128,-267,10,8,0,3,0,0,-1,0,0,0,0,0,0,0,0,0',
 '1,76,78,75,100,0,0,22,0,192,0,-1--1--1,,1|(128,-226)|',
 '1,77,78,74,4,0,0,22,0,192,0,-1--1--1,,1|(128,-145)|',
 '11,78,0,128,-186,6,8,34,3,0,0,4,0,0,0,0,0,0,0,0,0',
 '10,79,Fighters Increase,193,-186,59,18,40,3,0,0,-1,0,0,0,0,0,0,0,0,0',
 '10,80,Fighters Purchase,-2,-209,59,18,8,3,0,0,-1,0,0,0,0,0,0,0,0,0',
 '1,81,80,78,1,0,0,0,0,192,0,-1--1--1,,1|(77,-209)|',
 '12,82,48,125,73,10,8,0,3,0,0,-1,0,0,0,0,0,0,0,0,0',
 '1,83,85,74,100,0,0,22,0,192,0,-1--1--1,,1|(125,-37)|',
 '1,84,85,82,4,0,0,22,0,192,0,-1--1--1,,1|(125,35)|',
 '11,85,0,125,-3,6,8,34,3,0,0,4,0,0,0,0,0,0,0,0,0',
 '10,86,Fighters Stop Operating,194,-3,63,18,40,3,0,0,-1,0,0,0,0,0,0,0,0,0',
 '10,87,Fighters Operating Duration,-16,5,77,18,8,3,0,0,-1,0,0,0,0,0,0,0,0,0',
 '1,88,87,85,1,0,0,0,0,192,0,-1--1--1,,1|(73,10)|',
 '1,89,66,7,1,0,0,0,0,192,0,-1--1--1,,1|(425,-175)|',
 '1,90,74,7,1,0,0,0,0,192,0,-1--1--1,,1|(243,-98)|',
 '10,91,Number of Warships on Production,1027,-524,53,25,3,3,0,0,-1,0,0,0,0,0,0,0,0,0',
 '10,92,Number of Operating Warships,1014,-334,44,25,3,3,0,0,-1,0,0,0,0,0,0,0,0,0',
 '1,93,95,91,100,0,0,22,0,192,0,-1--1--1,,1|(1021,-470)|',
 '1,94,95,92,4,0,0,22,0,192,0,-1--1--1,,1|(1021,-394)|',
 '11,95,0,1021,-436,8,6,33,3,0,0,4,0,0,0,0,0,0,0,0,0',
 '10,96,Warships Production Finished,1078,-436,49,25,40,3,0,0,-1,0,0,0,0,0,0,0,0,0',
 '12,97,48,1024,-659,10,8,0,3,0,0,-1,0,0,0,0,0,0,0,0,0',
 '1,98,100,97,100,0,0,22,0,192,0,-1--1--1,,1|(1024,-634)|',
 '1,99,100,91,4,0,0,22,0,192,0,-1--1--1,,1|(1024,-577)|',
 '11,100,0,1024,-611,8,6,33,3,0,0,4,0,0,0,0,0,0,0,0,0',
 '10,101,Begin of Warships Production,1081,-611,49,25,40,3,0,0,-1,0,0,0,0,0,0,0,0,0',
 '1,102,91,95,1,0,0,0,0,192,0,-1--1--1,,1|(991,-467)|',
 '10,103,Warships Production,1183,-731,49,23,8,3,0,0,-1,0,0,0,0,0,0,0,0,0',
 '1,104,103,101,1,0,0,0,0,192,0,-1--1--1,,1|(1167,-650)|',
 '10,105,Warships Production Duration,1210,-521,49,25,8,3,0,16,-1,0,0,0,0-0-0,0-0-0,||B|0-0-0,0,0,0,0,0,0',
 '1,106,105,96,1,0,0,0,0,192,0,-1--1--1,,1|(1170,-464)|',
 '1,107,74,85,1,0,0,0,0,192,0,-1--1--1,,1|(92,-32)|',
 '1,108,1,70,1,0,0,0,0,192,0,-1--1--1,,1|(479,551)|',
 '10,109,Number of Warships on Striking Mission,1319,-337,53,32,3,3,0,0,-1,0,0,0,0,0,0,0,0,0',
 '1,110,112,92,100,0,0,22,0,192,0,-1--1--1,,1|(1112,-336)|',
 '1,111,112,109,4,0,0,22,0,192,0,-1--1--1,,1|(1222,-336)|',
 '11,112,0,1173,-336,6,8,34,3,0,0,1,0,0,0,0,0,0,0,0,0',
 '10,113,Warships Send on Striking Mission,1173,-303,62,25,40,3,0,0,-1,0,0,0,0,0,0,0,0,0',
 '1,114,92,113,1,0,0,0,0,192,0,-1--1--1,,1|(1111,-361)|',
 '10,115,Chance of Striking,1287,-234,44,23,8,3,0,0,-1,0,0,0,0,0,0,0,0,0',
 '1,116,115,113,1,0,0,0,0,192,0,-1--1--1,,1|(1228,-250)|',
 '12,117,48,1319,-467,10,8,0,3,0,0,-1,0,0,0,0,0,0,0,0,0',
 '1,118,120,109,100,0,0,22,0,192,0,-1--1--1,,1|(1319,-388)|',
 '1,119,120,117,4,0,0,22,0,192,0,-1--1--1,,1|(1319,-439)|',
 '11,120,0,1319,-414,8,6,33,3,0,0,4,0,0,0,0,0,0,0,0,0',
 '10,121,Finished Striking,1370,-414,43,23,40,3,0,0,-1,0,0,0,0,0,0,0,0,0',
 '10,122,Duration Striking,1524,-435,43,23,8,3,0,0,-1,0,0,0,0,0,0,0,0,0',
 '1,123,122,121,1,0,0,0,0,192,0,-1--1--1,,1|(1459,-445)|',
 '1,124,109,121,1,0,0,0,0,192,0,-1--1--1,,1|(1398,-370)|',
 '1,125,121,92,1,0,0,0,0,192,0,-1--1--1,,1|(1175,-406)|',
 '\\\\\\---/// Sketch information - do not modify anything except names',
 'V300  Do not put anything below this section - it will be ignored',
 '*Naval Deployment',
 '$-1--1--1,0,|12||-1--1--1|-1--1--1|-1--1--1|-1--1--1|-1--1--1|96,96,100,0',
 '\\\\\\---/// Sketch information - do not modify anything except names',
 'V300  Do not put anything below this section - it will be ignored',
 '*Naval Capabilities',
 '$-1--1--1,0,|12||-1--1--1|-1--1--1|-1--1--1|-1--1--1|-1--1--1|96,96,100,0',
 '\\\\\\---/// Sketch information - do not modify anything except names',
 'V300  Do not put anything below this section - it will be ignored',
 '*Naval Defense Posture',
 '$-1--1--1,0,|12||-1--1--1|-1--1--1|-1--1--1|-1--1--1|-1--1--1|96,96,100,0',
 '///---\\\\\\',
 ':L\x7f<%^E!@',
 '1:SFD 0530 Proposal 2.vdfx',
 '1:SFD 0530 Proposal 3.vdfx',
 '4:Time',
 '5:Naval Strength',
 '9:SFD 0530 Proposal 2',
 '19:121,1',
 '24:1',
 '25:60',
 '26:60',
 '22:24 Hour,1 Day',
 '22:Year,Tahun',
 '23:0',
 '15:0,0,0,0,0,0',
 '27:0,',
 '34:0,',
 '42:1',
 '72:0',
 '73:0',
 '35:Date',
 '36:YYYY-MM-DD',
 '37:2000',
 '38:1',
 '39:1',
 '40:2',
 '41:0',
 '95:0',
 '96:0',
 '97:0',
 '77:0',
 '78:0',
 '102:1',
 '93:0',
 '94:0',
 '92:0',
 '91:0',
 '90:0',
 '87:0',
 '75:',
 '43:',
 '103:8,8,8,3,8',
 '105:0,0,0,0,0,0,0,0,0,0',
 '104:Courier|12||0-0-0|0-0-0|-1--1--1|0-0-255|192-192-192|-1--1--1',
 '']

# Generate Model